<section class="relative w-full pb-10 mb-8 mt-12 md:mt-36 md:mb-24 z-10">
    <div class="items-center max-w-6xl px-4 px-10 mx-auto sm:px-20 md:px-32 lg:px-16">
      <div class="flex flex-col md:flex-row items-center -mx-3 z-10">
        <div class="w-full px-3 mb-12 lg:w-1/2 order-1 lg:order-0 lg:mb-0 z-10">
            <img class="mx-auto w-full md:w-3/4 rounded-2xl m-1 shadow-2xl md:transform md:-rotate-12" src ="{{'assets/images/business/Broadcast1.png'| relative_url }}">
        </div>
        <div class="order-0 w-full px-3 lg:w-1/2 lg:order-1 z-10">
          <div class="w-full lg:max-w-md ">
            <div class="text-transparent bg-hermes-hgradient bg-clip-text">
              <h2 class="mb-4 text-3xl leading-tight tracking-tight sm:text-4xl font-heading">
                Broadcast Communications
              </h2>
            </div>
            <ul>
              <li class="flex items-center py-2 space-x-4 xl:py-3">
                <i class="fa-solid fa-circle-check text-2xl text-transparent bg-hermes-hgradient bg-clip-text"></i>
                <span class="font-medium text-gray-500 dark:text-gray-300">
                  Deliver opt-in Targeted Campaigns straight to users' DMs and Wallets
                </span>
              </li>
              <li class="flex items-center py-2 space-x-4 xl:py-3">
                <i class="fa-solid fa-circle-check text-2xl text-transparent bg-hermes-hgradient bg-clip-text"></i>
                <span class="font-medium text-gray-500 dark:text-gray-300">
                  Effortlessly broadcast campaigns across Discord, Telegram and Wallets in one go
                </span>
              </li>
              <li class="flex items-center py-2 space-x-4 xl:py-3">
                <i class="fa-solid fa-circle-check text-2xl text-transparent bg-hermes-hgradient bg-clip-text"></i>
                <span class="font-medium text-gray-500 dark:text-gray-300">
                  Track Campaign Performance and Analyze Community Engagement
                </span>
              </li>
              <li class="flex items-center py-2 space-x-4 xl:py-3">
                <i class="fa-solid fa-circle-check text-2xl text-transparent bg-hermes-hgradient bg-clip-text"></i>
                <span class="font-medium text-gray-500 dark:text-gray-300">
                  Streamline Multi-Channel Communication for Maximum Reach
                </span>
              </li>
              <li class="flex items-center py-2 space-x-4 xl:py-3">
                <i class="fa-solid fa-circle-check text-2xl text-transparent bg-hermes-hgradient bg-clip-text"></i>
                <span class="font-medium text-gray-500 dark:text-gray-300">
                  Stay Compliant with Privacy Regulations while Scaling Your Business
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="relative w-full pb-10 mb-8 mt-12 md:mt-36 md:mb-24 z-10">
    <div class="items-center max-w-6xl px-4 px-10 mx-auto sm:px-20 md:px-32 lg:px-16">
      <div class="flex flex-col md:flex-row items-center -mx-3 z-10">
        <div class="order-0 w-full px-3 lg:w-1/2 lg:order-1 z-10">
          <div class="w-full lg:max-w-md ">
            <div class="text-transparent bg-hermes-hgradient bg-clip-text">
              <h2 class="mb-4 text-3xl leading-tight tracking-tight sm:text-4xl font-heading">
                Transactional Communications</h2>
            </div>
            <ul>
              <li class="flex items-center py-2 space-x-4 xl:py-3">
                <i class="fa-solid fa-circle-check text-2xl text-transparent bg-hermes-hgradient bg-clip-text"></i>
                <span class="font-medium text-gray-500 dark:text-gray-300">
                  Personalized Messages for Enhanced User Engagement
                </span>
              </li>
              <li class="flex items-center py-2 space-x-4 xl:py-3">
                <i class="fa-solid fa-circle-check text-2xl text-transparent bg-hermes-hgradient bg-clip-text"></i>
                <span class="font-medium text-gray-500 dark:text-gray-300">
                  Streamline User Experience by Consolidating Platform Notifications
                </span>
              </li>
              <li class="flex items-center py-2 space-x-4 xl:py-3">
                <i class="fa-solid fa-circle-check text-2xl text-transparent bg-hermes-hgradient bg-clip-text"></i>
                <span class="font-medium text-gray-500 dark:text-gray-300">
                  Automatic Notifications Delivered to Wallets and Direct Messages
                </span>
              </li>
              <li class="flex items-center py-2 space-x-4 xl:py-3">
                <i class="fa-solid fa-circle-check text-2xl text-transparent bg-hermes-hgradient bg-clip-text"></i>
                <span class="font-medium text-gray-500 dark:text-gray-300">
                  Targeted Alerts Based on User's On-Chain Activity
                </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="w-full px-3 mb-12 lg:w-1/2 order-1 lg:order-0 lg:mb-0 z-10">
          <img class="mx-auto w-full md:w-3/4 rounded-2xl m-1 shadow-2xl md:transform md:-rotate-12" src ="{{'assets/images/business/Broadcast.png'| relative_url }}">
        </div>
      </div>
    </div>
</section>