
<section class="bg-gradient-to-b from-white via-muddywaters-500 to-white ">
    <div class="relative flex flex-col items-center w-full max-w-6xl px-4 py-8 mx-auto text-center lg:text-right lg:block sm:px-6 md:pb-0 md:pt-12 lg:px-12 lg:py-12">
       
            <h2 class="my-4 font-bold text-3xl text-white lg:my-0 ">
                Did you know? Ceres Ventures is part of the <p><a href="https://angelalliance.io/" target="_blank" class="block text-indigo-200 xl:inline hover:text-white "> Angel Alliance Charity Network!</a>
            </h2>
        <div class="flex w-1/2 align-right mt-6">
            <a href="https://station.terra.money/validator/terravaloper10ge6t62gzesz378e09kkgqvx9ev7tf6xcsrqqu" class="inline-flex items-center text-center justify-center w-full h-12 px-6 mb-4 font-medium tracking-wide border-2 border-white text-white hover:text-cpurple2-500 hover:border-cpurple2-500 transition duration-200 bg-transparent rounded-xl shadow-md sm:w-auto  mx-2 sm:mb-0 focus:shadow-outline focus:outline-none">
                Stake with Angel on Terra
            </a>
        </div>
        <div class=" bottom-0 -left-10 absolute mb-0 mr-3 lg:mb-0 ">
            <div class="">
                <img src="/assets/images/Angel-Alliance-shield.png" class=" mb-4 w-1/5 lg:w-1/5 xl:mb-0">
            </div>
        </div>
    </div>
</section>
