    <!-- Section 2 -->
    <section class="pt-24 pb-32 bg-white dark:bg-gray-800">
        <div class="px-8 mx-auto max-w-7xl lg:px-12 xl:px-16">
            <div class="flex items-start flex-col lg:flex-row">

                <!-- Left Content -->
                <div class="flex items-center w-full lg:w-1/2 lg:pr-10">
                    <div
                        class="relative max-w-lg mx-auto font-sans text-center text-gray-700 border-gray-200 lg:text-left">
                        <h1
                            class="m-0 text-3xl font-extrabold leading-tight text-left text-darkgold border-solid sm:text-4xl md:text-6xl">
                            Built around the dApps you love</h1>
                        <p class="pr-5 mx-0 my-4 text-base text-left text-gray-500 xl:leading-9 lg:my-8 xl:text-xl"
                            data-c2c-process="1">Be it Anchor Protocol, Mirror, Apollo or Pylon, we can support any
                            Terra dApp, and Cosmos soon™️.</p>
                        <div class="relative flex items-start justify-start block w-full max-w-md text-center lg:mx-0">
                            <a href="#_"
                                class="flex items-center justify-center px-8 font-medium text-white bg-muddywaters-500 shadow-xl hover:bg-muddywaters-600 rounded-2xl h-14 cursor-not-allowed">Get
                                Started Today</a>
                        </div>

                        <div class="mt-10 leading-6 text-left border-solid">
                            <p
                                class="m-0 font-sans text-sm font-bold tracking-wider text-gray-400 uppercase lg:text-xs">
                                GROWING LIST OF COMPATIBLE DAPPS</p>
                            <div class="flex mt-5 space-x-4">
                                <a href="https://terra.money" target="_blank"><img src="assets/images/partners/terra_ico.png"
                                        class="w-6 h-6"></a>
                                <a href="https://anchorprotocol.com" target="_blank"><img
                                        src="assets/images/partners/Anchor_Icon.png" class="w-6 h-6"></a>
                                <a href="https://terra.mirror.finance/" target="_blank"><img
                                        src="assets/images/partners/mirror_ico.png" class="w-6 h-6"></a>
                                <a href="https://apollo.farm" target="_blank"><img
                                        src="assets/images/partners/apollodao-icon.ico" class="w-6 h-6"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Right Images -->
                <div class="relative w-full mt-20 lg:w-1/2 lg:mt-0">
                    <div class="relative z-20 grid w-full grid-cols-4 gap-5 mt-4 transform -rotate-6 lg:mt-10">
                        <div
                            class="flex items-center justify-center w-full h-auto col-span-2 p-3 overflow-hidden transform bg-white rounded-lg shadow-xl -rotate-3">
                            <img src="assets/images/notification.svg" class="w-full h-auto">
                        </div>
                        <div
                            class="flex items-center justify-center w-full h-auto col-span-2 p-3 overflow-hidden transform bg-white rounded-lg shadow-xl -rotate-3">
                            <img src="assets/images/loan_to_value.svg" class="w-full h-auto">
                        </div>
                        <div
                            class="flex items-center justify-center w-full h-auto col-span-2 p-3 overflow-hidden transform bg-white rounded-lg shadow-xl -rotate-3">
                            <img src="assets/images/price_alert.svg" class="w-full h-auto">
                        </div>
                        <div
                            class="flex items-center justify-center w-full h-auto col-span-2 p-3 overflow-hidden transform bg-white rounded-lg shadow-xl -rotate-3">
                            <img src="assets/images/social.svg" class="w-full h-auto">
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>