    <!-- Section 2 -->
    <section class="pt-24 pb-32 bg-white dark:bg-gray-800">
        <div class="px-8 mx-auto max-w-7xl lg:px-12 xl:px-16 opacity-0 js-show-on-scroll ">
            <div class="flex items-start flex-col lg:flex-row">

                <!-- Left Content -->
                <div class="flex items-center w-full lg:w-2/5 lg:pr-10">
                    <div class="relative max-w-lg mx-auto font-sans text-center text-gray-700 border-gray-200 lg:text-left">
                        <h1 class="m-0 text-2xl font-extrabold leading-tight text-left text-darkgold border-solid sm:text-3xl md:text-4xl">We are going multi-chain!</h2>
                        <p class="pr-5 mx-0 my-4 text-base text-left text-gray-500 xl:leading-9 lg:my-8 xl:text-xl">For the moment we only support Terra! But we plan to be multichain soon</p>
                        <a href="https://discord.com/invite/RkZvDsWaGk" class="px-3 py-4 text-xl font-medium text-small text-white bg-muddywaters-500 shadow-lg hover:bg-muddywaters-600 xl:px-12 xl:text-2xl lg:w-auto  rounded-3xl "> 
                            
                            Keep in touch!

                        </a>
                    </div>
                </div>
                
                <!-- Middle Images -->
                <div class="relative w-full mt-20 lg:w-1/5 lg:mt-0">
                    <img class=" animate-bounce p-10 h-auto md:max-w-full max-w-sm w-full md:w-auto md:h-64" src="assets/images/01_Tarra_color.svg">
                </div>

                <div class="flex items-center w-full lg:w-2/5 lg:pr-10">
                    <div
                        class="relative max-w-lg mx-auto font-sans text-center text-gray-700 border-gray-200 lg:text-left">
                        <h1
                            class="m-0 text-xl font-extrabold leading-tight text-left text-darkgold border-solid sm:text-3xl md:text-4xl">
                            Built around the dApps you love</h1>
                        <p class="pr-5 mx-0 my-4 text-base text-left text-gray-500 xl:leading-9 lg:my-8 xl:text-xl"
                            data-c2c-process="1">Be it Anchor Protocol, Mirror, Apollo or Pylon, we can support any
                            Terra dApp, and Cosmos soon™️.</p>
 

                        <div class="mt-10 leading-6 text-left border-solid">
                            <p
                                class="m-0 font-sans text-sm font-bold tracking-wider text-gray-400 uppercase lg:text-xs">
                                GROWING LIST OF COMPATIBLE DAPPS</p>
                            <div class="flex mt-5 space-x-4">
                                <a href="https://terra.money" target="_blank"><img src="assets/images/partners/terra_ico.png"
                                        class="w-6 h-6"></a>
                                <a href="https://anchorprotocol.com" target="_blank"><img
                                        src="assets/images/partners/Anchor_Icon.png" class="w-6 h-6"></a>
                                <a href="https://terra.mirror.finance/" target="_blank"><img
                                        src="assets/images/partners/mirror_ico.png" class="w-6 h-6"></a>
                                <a href="https://apollo.farm" target="_blank"><img
                                        src="assets/images/partners/apollodao-icon.ico" class="w-6 h-6"></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>