<section class="pb-40 pt-24 antialiased bg-white dark:bg-gray-800">
    <div class="px-12 mx-auto max-w-7xl">

        <!-- Start Main Content -->
        <div class="flex flex-col items-center w-full lg:space-x-10 lg:flex-row">
            <div class="relative z-10 w-full space-y-10 lg:w-1/2">
                <h1 class="text-5xl font-bold sm:text-7xl xl:text-8xl dark:text-gray-300">Hermes Protocol</h1>
                <p class="text-base text-gray-500 dark:text-gray-300 sm:text-lg " data-c2c-process="1">Good or bad news, we can deliver
                    the information straight to your device or app of choice. Sleep well knowing that you will be
                    alerted when something of interest is happening.</p>
                <div class="flex flex-col items-center w-full space-x-5 lg:flex-row">
                    <a href="{{'/roadmap'| relative_url }}"
                        class="w-full px-6 py-6 text-xl font-medium text-center text-white bg-muddywaters-500 shadow-xl hover:bg-muddywaters-600 xl:px-12 xl:text-2xl lg:w-auto  rounded-3xl">
                    See our Roadmap!
                    </a>
                   <!--<a href="https://youtu.be/4ItojFIAL7Y" target="_blank"
                        class="flex items-center justify-center w-full px-4 py-6 mt-5 text-lg font-medium text-center text-muddywaters-500 underline xl:px-10 xl:text-xl lg:mt-0 lg:w-auto rounded-3xl hover:bg-gray-50">
                        <svg class="w-6 h-6 mt-1 mr-2 fill-current" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 847 1058.75" fill-rule="evenodd" clip-rule="evenodd">
                            <defs></defs>
                            <path class="fil0"
                                d="M636 459L447 583 257 708c-20 12-46 7-59-13-5-7-7-15-7-23V174c0-23 19-42 42-42 10 0 18 3 25 8l189 124 189 124c20 13 25 39 13 58-4 6-8 10-13 13z">
                            </path>
                        </svg>
                        <span class="">POC</span>
                    </a>--> 
                </div>
            </div>

            <div class="relative z-0 w-full mt-8 lg:w-1/2">
                <!-- <img src="https://cdn.devdojo.com/assets/images/december2020/drag-drop-hero.png" class="transform xl:translate-x-20 lg:ml-0 lg:translate-y-20 lg:scale-125"> -->
                <img src="{{'assets/images/webapp-screen.png' | relative_url }}"
                    class="transform xl:translate-x-20 lg:ml-0 lg:translate-y-20 lg:scale-125 shadow-2xl rounded-xl">
            </div>
        </div>
        <!-- End Main Content -->
    </div>
</section>
