<section class="relative w-full h-auto bg-no-repeat bg-cover min-h-screen bg-center bg-light-image dark:bg-dark-image area" x-data="{ showMenu: false }"  data-tails-scripts="//unpkg.com/alpinejs">
    {% include blocks/header.html %}

   
    <div class="container flex items-center justify-center h-auto py-32 mx-auto ">
        <div class="absolute w-1/12 right-1/3 bottom-2/3 move-rect">
            <img class="w-4/5 js-show-now" src="assets/images/Hermes-Protocol_Main-Block_BELL.png ">
        </div> 
        <div class="z-10 flex flex-col justify-center max-w-1/3 items-center px-8 xl:px-0">
            <img class="w-2/3 h-auto opacity-0 js-show-now" src="assets/images/hermes-full-logo.svg">
            <h1 class="mx-6 mt-1 text-xl text-xl text-center text-gray-500 lg:text-5xl sm:text-center sm:mx-0">A new era of communication in blockchain starts here</h1>
            <div class="flex justify-center mt-6 md:mt-10">
                <a href="https:app.hermesprotocol.io"
                class="relative  py-4 text-xl font-medium text-small text-white bg-muddywaters-500 shadow-lg border-2 border-muddywaters-500 hover:text-muddywaters-500 hover:bg-transparent px-12 xl:text-2xl lg:w-auto  rounded-xl">
                <img class="absolute -right-1.5 -top-2 w-1/3" src="assets/images//beta ribbon.png">
                Enter App
                </a>
        </div>

    </div>
</section>


