
    <section class=" py-20 bg-white dark:bg-gray-800 area" id="Features">

            <div class="flex flex-col px-8 mx-auto space-y-12 max-w-7xl xl:px-12">
                <div class="relative opacity-0 js-show-on-scroll ">
                    <h2 class="w-full text-3xl font-bold text-center sm:text-4xl md:text-5xl dark:text-gray-300">Make It Yours</h2>
                    <p class="w-full py-8 mx-auto -mt-2 text-lg text-center text-gray-700 intro sm:max-w-3xl dark:text-gray-300">Choose and use
                        only the chat applications or platforms which you love the most for a curated feed of notifications
                        of your favorite dApps.</p>
                </div>
                <div class="flex flex-col mb-8 opacity-0 js-show-on-scroll  sm:flex-row">
                    <div class="items-center mb-8 sm:w-1/2 md:w-5/12 sm:order-last relative">
                        <img src="assets/images/home/make_it_your_own.svg" alt="Hermes Protocol East Decisions">
                    </div>
                    <div class="flex flex-col justify-center mt-5 mb-8 md:mt-0 sm:w-1/2 md:w-7/12 sm:pr-16">
                        <h3 class="mt-2 text-2xl sm:text-left md:text-4xl dark:text-gray-300">Easy and simple</h3>
                        <p class="mt-5 text-lg text-gray-700 text md:text-left dark:text-gray-300" data-c2c-process="1">Your experience should be effortless, so we've built an interface in an intuitive way which you can configure and optimise over time..</p>
                    </div>
                </div>
                <div class="flex flex-col mb-8 opacity-0 js-show-on-scroll  sm:flex-row">
                    <div class="flex items-center mb-8 sm:w-1/2 md:w-5/12">
                        <img src="assets/images/home/tailored_for_you.svg" alt="Hermes Protocol Tailored For You">
                    </div>
                    <div class="flex flex-col justify-center mt-5 mb-8 md:mt-0 sm:w-1/2 md:w-7/12 sm:pl-16">
                        <h3 class="mt-2 text-2xl sm:text-left md:text-4xl dark:text-gray-300" data-c2c-process="1">Tailored For You</h3>
                        <p class="mt-5 text-lg text-gray-700 text md:text-left dark:text-gray-300" data-c2c-process="1">Log in with your wallet or social account, enable the dApps you want and subscribe to the type of notifications that are important to you..</p>
                    </div>
                </div>
            </div>

    </section>
