
    <section class="py-20 bg-white dark:bg-gray-800" id="Features">
        <div class="flex flex-col px-8 mx-auto space-y-12 max-w-7xl xl:px-12">
            <div class="relative">
                <h2 class="w-full text-3xl font-bold text-center sm:text-4xl md:text-5xl">Make It Yours</h2>
                <p class="w-full py-8 mx-auto -mt-2 text-lg text-center text-gray-700 intro sm:max-w-3xl">Choose and use
                    only the chat applications or platforms which you love the most for a curated feed of notifications
                    of your favorite dApps.</p>
            </div>
            <div class="flex flex-col mb-8 animated fadeIn sm:flex-row">
                <div class="items-center mb-8 sm:w-1/2 md:w-5/12 sm:order-last relative">
                    <img src="assets/images/easy_decisions.svg" alt="Hermes Protocol East Decisions">
                </div>
                <div class="flex flex-col justify-center mt-5 mb-8 md:mt-0 sm:w-1/2 md:w-7/12 sm:pr-16">
                    <p class="mb-2 text-sm font-semibold leading-none text-left text-muddywaters-500 uppercase">EASY
                        ON/OFF TOGGLES</p>
                    <h3 class="mt-2 text-2xl sm:text-left md:text-4xl">Easy Decisions</h3>
                    <p class="mt-5 text-lg text-gray-700 text md:text-left" data-c2c-process="1">Your experience should
                        be effortless, so we've built our interface with an intuitive way which you will love to
                        configure and optimise over time.</p>
                </div>
            </div>
            <div class="flex flex-col mb-8 animated fadeIn sm:flex-row">
                <div class="flex items-center mb-8 sm:w-1/2 md:w-5/12">
                    <img src="assets/images/tailored_for_you.svg" alt="Hermes Protocol Tailored For You">
                </div>
                <div class="flex flex-col justify-center mt-5 mb-8 md:mt-0 sm:w-1/2 md:w-7/12 sm:pl-16">
                    <p class="mb-2 text-sm font-semibold leading-none text-left text-muddywaters-500 uppercase">
                        EVERYGROWING LIST OF CHOICES AND APPS</p>
                    <h3 class="mt-2 text-2xl sm:text-left md:text-4xl" data-c2c-process="1">Tailored For You</h3>
                    <p class="mt-5 text-lg text-gray-700 text md:text-left" data-c2c-process="1">Login with your wallet
                        or social account, enable the dApps you want, and subscribe only to the type of notifications
                        that are important to you.</p>
                </div>
            </div>
            <div class="flex flex-col mb-8 animated fadeIn sm:flex-row">
                <div class="flex items-center mb-8 sm:w-1/2 md:w-5/12 sm:order-last">
                    <img src="assets/images/make_it_your_own.svg" alt="Hermes Protocol Make It Your Own">
                </div>
                <div class="flex flex-col justify-center mt-5 mb-8 md:mt-0 sm:w-1/2 md:w-7/12 sm:pr-16">
                    <p class="mb-2 text-sm font-semibold leading-none text-left text-muddywaters-500 uppercase">Easy to
                        customize</p>
                    <h3 class="mt-2 text-2xl sm:text-left md:text-4xl">Make It Your Own</h3>
                    <p class="mt-5 text-lg text-gray-700 text md:text-left" data-c2c-process="1">Mix and Match between
                        different social platforms and dApps. Only want Mirror notifications on Discord, but want SMS
                        alerts for Anchor liquidations? We got your back! You can even start playing Stairway To Heaven
                        when Luna hits 100$ automatically!</p>
                </div>
            </div>
        </div>
    </section>
