    <!-- Section 2 -->
    <section class="relative">
        <img class="absolute top-0 right-0 dark:hidden" src="assets/images/bg/Pillars Banners.svg">
        <div class=" mx-auto max-w-7xl my-10 md:my-40">
            <div class="max-w-3xl mx-auto pb-10 ">
                <h2 class="mx-6 mt-6 mb-10 text-lg text-center text-muddywaters-500 dark:text-muddywaters-200 lg:text-4xl  sm:mx-0">We envision 3 pillars of communication:</h2>
            </div>
            <div class=" relative mx-auto text-center text-gray-700 grid grid-cols-3 gap-8 mt-10 opacity-0 js-show-on-scroll">
                <div class="flex flex-col justify-center items-center">
                    <img class="lg:mb-8 w-1/2 dark:hidden" src="assets/images/home/Pillar 1_Light Mode.svg">
                    <img class="lg:mb-8 w-1/2 hidden dark:block" src="assets/images/home/Pillar 1_Dark Mode.svg">
                    <h2 class="text-muddywaters-500 dark:text-muddywaters-200 text-3xl">Pillar I</h2>
                    <div class="flex flex-row justify-center items-center gap-2">
                        <p class=" text-base text-center text-gray-500 dark:text-gray-300 xl:leading-9  xl:text-2xl">Blockchain </p><svg class="fill-muddywaters-500 dark:fill-muddywaters-200" width="22" height="11" viewBox="0 0 22 11" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_175_99)">
                            <path d="M22 5.5L20.3017 3.71486L16.7676 0L15.0693 1.78514L17.4015 4.23657H4.59853L6.93069 1.78514L5.2324 0L0 5.5L1.69829 7.28514L5.2324 11L6.93069 9.21486L4.59853 6.76343H17.4015L15.0693 9.21486L16.7676 11L20.3017 7.28514L22 5.5ZM18.5317 5.56914V5.42457L18.5974 5.49371L18.5317 5.56286V5.56914Z"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_175_99">
                            <rect width="22" height="11" fill="white"/>
                            </clipPath>
                            </defs>
                            </svg><p class=" text-base text-center text-gray-500 dark:text-gray-300 xl:leading-9  xl:text-2xl"> Users</p>
                    </div>
                </div>
                <div class="flex flex-col justify-center items-center">
                    <img class="lg:mb-8 w-1/2 dark:hidden" src="assets/images/home/Pillar 2_Light Mode.svg">
                    <img class="lg:mb-8 w-1/2 hidden dark:block" src="assets/images/home/Pillar 2_Dark Mode.svg">         
                    <h2 class="text-muddywaters-500 dark:text-muddywaters-200 text-3xl">Pillar II</h2>
                    <div class="flex flex-row justify-center items-center gap-2">
                        <p class=" text-base text-center text-gray-500 dark:text-gray-300 xl:leading-9  xl:text-2xl">Users </p>
                        <svg class="fill-muddywaters-500 dark:fill-muddywaters-200" width="22" height="11" viewBox="0 0 22 11" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_175_99)">
                            <path d="M22 5.5L20.3017 3.71486L16.7676 0L15.0693 1.78514L17.4015 4.23657H4.59853L6.93069 1.78514L5.2324 0L0 5.5L1.69829 7.28514L5.2324 11L6.93069 9.21486L4.59853 6.76343H17.4015L15.0693 9.21486L16.7676 11L20.3017 7.28514L22 5.5ZM18.5317 5.56914V5.42457L18.5974 5.49371L18.5317 5.56286V5.56914Z"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_175_99">
                            <rect width="22" height="11" fill="white"/>
                            </clipPath>
                            </defs>
                            </svg>
                        <p class=" text-base text-center text-gray-500 dark:text-gray-300 xl:leading-9 xl:text-2xl"> Users</p>
                    </div>
                </div>
                <div class="flex flex-col justify-center items-center">
                    <img class="lg:mb-8 w-1/2 dark:hidden" src="assets/images/home/Pillar 3_Light Mode.svg">
                    <img class="lg:mb-8 w-1/2 hidden dark:block" src="assets/images/home/Pillar 3_Dark Mode.svg">                    
                    <h2 class="text-muddywaters-500 dark:text-muddywaters-200 text-3xl">Pillar III</h2>
                    <div class="flex flex-row justify-center items-center gap-2">
                        <p class=" text-base text-center text-gray-500 dark:text-gray-300 xl:leading-9 xl:text-2xl">Projects </p><svg class="fill-muddywaters-500 dark:fill-muddywaters-200" width="22" height="11" viewBox="0 0 22 11" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_175_99)">
                            <path d="M22 5.5L20.3017 3.71486L16.7676 0L15.0693 1.78514L17.4015 4.23657H4.59853L6.93069 1.78514L5.2324 0L0 5.5L1.69829 7.28514L5.2324 11L6.93069 9.21486L4.59853 6.76343H17.4015L15.0693 9.21486L16.7676 11L20.3017 7.28514L22 5.5ZM18.5317 5.56914V5.42457L18.5974 5.49371L18.5317 5.56286V5.56914Z"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_175_99">
                            <rect width="22" height="11" fill="white"/>
                            </clipPath>
                            </defs>
                            </svg><p class=" text-base text-center text-gray-500 dark:text-gray-300 xl:leading-9  xl:text-2xl"> Users</p>
                    </div>
                </div>
            </div>  
        </div>
    </section>