
<section class="relative pb-12 overflow-x-hidden pt-7">
    <p class="w-full text-muddywaters-500 dark:text-muddywaters-200 text-center pb-3 text-2xl">Available on</p>
    <div class="px-8 mx-auto max-w-7xl mb-10">
        <div class="max-w-screen px-4 mx-auto sm:px-6 lg:px-8">
            <div class="flex items-center justify-center flex-wrap">
                <div class="flex items-center justify-center col-span-1 lg:col-span-1 mx-4">
                    <img class="w-auto h-8 mr-3 subpixel-antialiased" src="/assets/images/home/partners/terraClassic.png">
                    <p class=" text-base text-center text-gray-500 dark:text-gray-300 xl:leading-9 my-4 lg:my-4 xl:text-xl">Terra Classic</p>
                </div>
                <div class="flex items-center justify-center col-span-1 lg:col-span-1 mx-4">
                    <img class="w-auto h-8 mr-3 subpixel-antialiased" src="/assets/images/home/partners/terra.png">
                    <p class=" text-base text-center text-gray-500 dark:text-gray-300 xl:leading-9 my-4 lg:my-4 xl:text-xl">Terra</p>
                </div>
                <div class="flex items-center justify-center col-span-1 lg:col-span-1 mx-4">
                    <img class="w-auto h-8 mr-3 subpixel-antialiased" src="/assets/images/home/partners/radix.png">
                    <p class=" text-base text-center text-gray-500 dark:text-gray-300 xl:leading-9 my-4 lg:my-4 xl:text-xl">Radix</p>                    
                </div>
            </div>
        </div>
    </div>
    <p class="w-full text-muddywaters-500 dark:text-muddywaters-200 text-center pb-3 text-2xl">Integrated with</p>
    <div class="px-8 mx-auto max-w-7xl mb-10">
        <div class="max-w-screen px-4 mx-auto sm:px-6 lg:px-8">
            <div class="flex items-center justify-center flex-wrap">
                <div class="flex items-center justify-center col-span-1 lg:col-span-1 mx-4">
                    <img class="w-auto h-8 mr-3 subpixel-antialiased" src="/assets/images/home/partners/astroport.png">
                    <p class=" text-base text-center text-gray-500 dark:text-gray-300 xl:leading-9 my-4 lg:my-4 xl:text-xl">Astroport</p> 
                </div>
                <div class="flex items-center justify-center col-span-1 lg:col-span-1 mx-4">
                    <img class="w-auto h-8 mr-3 subpixel-antialiased" src="/assets/images/home/partners/terraswap.png">
                    <p class=" text-base text-center text-gray-500 dark:text-gray-300 xl:leading-9 my-4 lg:my-4 xl:text-xl">TerraSwap</p>                    
                </div>
                <div class="flex items-center justify-center col-span-1 lg:col-span-1 mx-4">
                    <img class="w-auto h-8 mr-3 subpixel-antialiased" src="/assets/images/home/partners/phoenix.png">
                    <p class=" text-base text-center text-gray-500 dark:text-gray-300 xl:leading-9 my-4 lg:my-4 xl:text-xl">Phoenix Finance</p> 
                </div>
                <div class="flex items-center justify-center col-span-1 lg:col-span-1 mx-4">
                    <img class="w-auto h-8 mr-3 subpixel-antialiased" src="/assets/images/home/partners/randomEarth.png">
                    <p class=" text-base text-center text-gray-500 dark:text-gray-300 xl:leading-9 my-4 lg:my-4 xl:text-xl">Random Earth</p>
                </div>
                <div class="flex items-center justify-center col-span-1 lg:col-span-1 mx-4">
                    <img class="w-auto h-8 mr-3 subpixel-antialiased" src="/assets/images/home/partners/talis.png">
                    <p class=" text-base text-center text-gray-500 dark:text-gray-300 xl:leading-9 my-4 lg:my-4 xl:text-xl">Talis Protocol</p>
                </div>
                <div class="flex items-center justify-center col-span-1 lg:col-span-1 mx-4">
                    <img class="w-auto h-8 mr-3 subpixel-antialiased" src="/assets/images/home/partners/vikingLand.png">
                    <p class=" text-base text-center text-gray-500 dark:text-gray-300 xl:leading-9 my-4 lg:my-4 xl:text-xl">VikingLand</p>
                </div>
                <div class="flex items-center justify-center col-span-1 lg:col-span-1 mx-4">
                    <img class="w-auto h-8 mr-3 subpixel-antialiased" src="/assets/images/home/partners/backbones.png">
                    <p class=" text-base text-center text-gray-500 dark:text-gray-300 xl:leading-9 my-4 lg:my-4 xl:text-xl">Gravedigger</p>
                </div>
                <div class="flex items-center justify-center col-span-1 lg:col-span-1 mx-4">
                    <img class="w-auto h-8 mr-3 subpixel-antialiased" src="/assets/images/home/partners/entrepriseProtocol.png">
                    <p class=" text-base text-center text-gray-500 dark:text-gray-300 xl:leading-9 my-4 lg:my-4 xl:text-xl">Entreprise Protocol</p>
                </div>
                <div class="flex items-center justify-center col-span-1 lg:col-span-1 mx-4">
                    <img class="w-auto h-8 mr-3 subpixel-antialiased" src="/assets/images/home/partners/valkirie.png">
                    <p class=" text-base text-center text-gray-500 dark:text-gray-300 xl:leading-9 my-4 lg:my-4 xl:text-xl">Valkyrie Protocol</p>
                </div>
                <div class="flex items-center justify-center col-span-1 lg:col-span-1 mx-4">
                    <img class="w-auto h-8 mr-3 subpixel-antialiased" src="/assets/images/home/partners/LNS.png">
                    <p class=" text-base text-center text-gray-500 dark:text-gray-300 xl:leading-9 my-4 lg:my-4 xl:text-xl">LNS</p>
                </div>
                
            </div>
        </div>
    </div>
    <p class="w-full text-muddywaters-500 dark:text-muddywaters-200 text-center pb-3 text-2xl">Partnered with</p>
    <div class="px-8 mx-auto max-w-7xl">
        <div class="max-w-screen px-4 mx-auto sm:px-6 lg:px-8">
            <div class="flex items-center justify-center flex-wrap">
                <div class="flex items-center justify-center col-span-1 lg:col-span-1 mx-4">
                    <img class="w-auto h-8 mr-3 subpixel-antialiased" src="/assets/images/home/partners/hero.jpg">
                    <p class=" text-base text-center text-gray-500 dark:text-gray-300 xl:leading-9 my-4 lg:my-4 xl:text-xl">Hero NFT</p>                    
                </div>
                <div class="flex items-center justify-center col-span-1 lg:col-span-1 mx-4">
                    <img class="w-auto h-8 mr-3 subpixel-antialiased" src="/assets/images/home/partners/xrd-domains.png">
                    <p class=" text-base text-center text-gray-500 dark:text-gray-300 xl:leading-9 my-4 lg:my-4 xl:text-xl">XRD Domains</p> 
                </div>
                <div class="flex items-center justify-center col-span-1 lg:col-span-1 mx-4">
                    <img class="w-auto h-8 mr-3 subpixel-antialiased" src="/assets/images/home/partners/ociswap.png">
                    <p class=" text-base text-center text-gray-500 dark:text-gray-300 xl:leading-9 my-4 lg:my-4 xl:text-xl">Ociswap</p>
                </div>
                <div class="flex items-center justify-center col-span-1 lg:col-span-1 mx-4">
                    <img class="w-auto h-8 mr-3 subpixel-antialiased" src="/assets/images/home/partners/xidar.png">
                    <p class=" text-base text-center text-gray-500 dark:text-gray-300 xl:leading-9 my-4 lg:my-4 xl:text-xl">XIDAR</p>
                </div>
                <div class="flex items-center justify-center col-span-1 lg:col-span-1 mx-4">
                    <img class="w-auto h-8 mr-3 subpixel-antialiased" src="/assets/images/home/partners/radixChart.png">
                    <p class=" text-base text-center text-gray-500 dark:text-gray-300 xl:leading-9 my-4 lg:my-4 xl:text-xl">RadixCharts</p> 
                </div>
                <div class="flex items-center justify-center col-span-1 lg:col-span-1 mx-4">
                    <img class="w-auto h-8 mr-3 subpixel-antialiased" src="/assets/images/home/partners/lootopian.png">
                    <p class=" text-base text-center text-gray-500 dark:text-gray-300 xl:leading-9 my-4 lg:my-4 xl:text-xl">Lootopians</p>
                </div>
                <div class="flex items-center justify-center col-span-1 lg:col-span-1 mx-4">
                    <img class="w-auto h-8 mr-3 subpixel-antialiased" src="/assets/images/home/partners/radixscan.png">
                    <p class=" text-base text-center text-gray-500 dark:text-gray-300 xl:leading-9 my-4 lg:my-4 xl:text-xl">RadixScan</p>
                </div>
                <div class="flex items-center justify-center col-span-1 lg:col-span-1 mx-4">
                    <img class="w-auto h-8 mr-3 subpixel-antialiased" src="/assets/images/home/partners/backbones.png">
                    <p class=" text-base text-center text-gray-500 dark:text-gray-300 xl:leading-9 my-4 lg:my-4 xl:text-xl">Backbone Labs</p>
                </div>
            </div>
        </div>
    </div>
</section>
