    <!-- Section 2 -->
    <section class="relative mb-20">
        <div class="mx-auto max-w-7xl py-10 z-10">
            <div class="max-w-3xl mx-auto z-10">
                <p class=" mx-0 my-4 text-base text-center text-gray-500 dark:text-gray-300 xl:leading-9 lg:my-8 xl:text-xl z-10">We are building a Web3 native platform that allows communication between users, projects and businesses, privacy-centric.</p>
            </div>
            <div class="flex flex-col md:flex-row my-10 items-center w-full mx-auto z-10">
                <div class="relative basis-1/3">
                    <img src="assets/images/home/Terra logos 3D-01.svg" class="w-1/2" alt="">
                    <img src="assets/images/home/Terra logos 3D-02.svg" class="w-1/2 absolute top-28 left-28 z-10" alt="">
                </div>
                <div class="basis-2/3 relative mx-auto text-center text-gray-700 grid grid-cols-3  opacity-0 js-show-on-scroll">
                    <div>
                        <h2 class="text-muddywaters-500 dark:text-muddywaters-200 text-6xl">2</h2>
                        <p class=" text-base text-center text-gray-500 dark:text-gray-300 xl:leading-9 lg:my-8 xl:text-2xl">Integrated<br>Blockchains</p>
                    </div>
                    <div>
                        <h2 class="text-muddywaters-500 dark:text-muddywaters-200 text-6xl">15</h2>
                        <p class="  text-base text-center text-gray-500 dark:text-gray-300 xl:leading-9 lg:my-8 xl:text-2xl">Integrated<br>dApps</p>
                    </div>
                    <div>
                        <h2 class="text-muddywaters-500 dark:text-muddywaters-200 text-6xl">25</h2>
                        <p class=" text-base text-center text-gray-500 dark:text-gray-300 xl:leading-9 lg:my-8 xl:text-2xl">Notification<br>Types</p>
                    </div>
                </div>
            </div>    
        </div>
    </section>