    <!-- Section 2 -->
    <section class="pt-24 pb-32 bg-white dark:bg-gray-800">
        <div class="px-8 mx-auto max-w-7xl lg:px-12 xl:px-16 opacity-0 js-show-on-scroll ">
                <div class="flex items-center w-full ">
                    <div class="relative mx-auto text-center text-gray-700 border-gray-200 lg:text-left">
                        <h1 class="m-0 text-2xl  leading-tight text-center text-darkgold border-solid sm:text-3xl md:text-4xl">What is Hermes Protocol?</h2>
                        <p class="pr-5 mx-0 my-4 text-base text-center text-gray-500 xl:leading-9 lg:my-8 xl:text-xl">Hermes Protocol is an infinitely scalable communication & notifications platform that will allow you to configure any on-chain alerts delivered on social media. Sleep well knowing that you will be alerted when something of interest is happening.
                        </p>
                    </div>
                </div>
        </div>
    </section>