<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hermes Protocol | Homepage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
    <link href="tailwind.css" rel="stylesheet">
    <link rel="shortcut icon" class="fill-muddywaters-500" href="{{ 'assets/images/icon.svg' | relative_url }}" />
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>-->
    <script rel="preload" as="script" src="{{ '/assets/js/utils.js'| prepend: site.baseurl_root  }}"></script>   
    <script rel="preload" as="script" src="{{ '/assets/js/loadProjects.js'| prepend: site.baseurl_root  }}"></script>
    <script rel="preload" as="script" src="{{ '/assets/js/blockchains/terra/validator-info.js'| prepend: site.baseurl_root  }}"></script>
    <script rel="preload" as="script" src="{{ '/assets/js/blockchains/radix/validator-info.js'| prepend: site.baseurl_root  }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lozad.js/1.0.8/lozad.min.js" integrity="sha512-Nt+V5JYamXCSvlHzNVleriGhTrolnfxckJ8sEXxv/BJ0tKV1HyPDXH+bIFNcUJ5hcthQ95uAeU2JClPT16mFyg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- No longer needed?
    <script>
        docReady(() => {
            var $moveable = $('.move-rect');
            var rectPosY = parseInt($('.move-rect').css('top'), 10);
            var rectPosX = parseInt($('.move-rect').css('left'), 10);
            $(".area").mousemove((e) => {
                $moveable.css({'top': rectPosY-e.pageY/40,'left': rectPosX-e.pageX/40});
            });
        });
    </script>
    -->
</head>