<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hermes Protocol | Homepage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
    <link href="tailwind.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ 'assets/images/icon.svg' | relative_url }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script rel="preload" as="script" src="{{ '/assets/js/utils.js'| prepend: site.baseurl_root  }}"></script>   
    <script rel="preload" as="script" src="{{ '/assets/js/loadProjects.js'| prepend: site.baseurl_root  }}"></script>
    <script rel="preload" as="script" src="{{ '/assets/js/blockchains/terra/validator-info.js'| prepend: site.baseurl_root  }}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css"  rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>

    <script >

        $(document).ready(function(){
            var $moveable = $('.move-rect');
            var rectPosY = parseInt($('.move-rect').css('top'), 10);
            var rectPosX = parseInt($('.move-rect').css('left'), 10);
            $(".area").mousemove(function(e){
                $moveable.css({'top': rectPosY-e.pageY/40,'left': rectPosX-e.pageX/40});
            });
          });
        
      </script>

    
</head>