<section class="bg-white dark:bg-gray-800">
    <div class="px-8 py-12 mx-auto text-gray-600 bg-white xl:pb-24 max-w-7xl xl:px-12">
        <div class="grid gap-6 mx-auto md:grid-cols-2 lg:grid-cols-4 lg:gap-x-8">
            <div class="mb-6 lg:mb-8">
                <div class="col-span-3">
                    <a class="text-xl font-black leading-none text-gray-900 select-none logo">
                        <img class="object-contain w-32 h-32 " src="assets/images/hermes-full-logo.svg">
                    </a>
                </div>
            </div>
            <div>
                <h5 class="text-xl font-bold text-gray-700">Product</h5>
                <nav class="mt-4">
                    <ul class="space-y-2">
                        <li class="mb-1">
                            <a href="#" class="text-base dark:text-gray-300 hover:text-gray-500">Features</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="text-base dark:text-gray-300 hover:text-gray-500">Integrations</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="text-base dark:text-gray-300 hover:text-gray-500">Documentation</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div>
                <h5 class="text-xl font-bold dark:text-gray-300 text-gray-700">About</h5>
                <nav class="mt-4">
                    <ul class="space-y-2">
                        <li class="mb-1">
                            <a href="/#OurTeam" class="text-base dark:text-gray-300 hover:text-gray-500">Our
                                Team</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="text-base dark:text-gray-300 hover:text-gray-500">Work With
                                Us</a>
                        </li>
                        <!-- <li class="mb-1">
                    <a href="#Partners" class="text-base hover:text-gray-500 dark:text-gray-300">Partners</a>
                </li> -->
                    </ul>
                </nav>
            </div>
            <div>
                <h5 class="text-xl font-bold text-gray-700 dark:text-gray-300">Resources</h5>
                <nav class="mt-4">
                    <ul class="space-y-2">
                        <li class="mb-1">
                            <a href="#" class="text-base hover:text-gray-500 dark:text-gray-300">Help Center</a>
                        </li>
                        <li class="mb-1">
                        <li>
                            <a href="#" class="text-base hover:text-gray-500 dark:text-gray-300">Developer
                                API</a>
                        </li>
                        <!--<li class="">
                    <a href="#" class="text-base hover:text-gray-500">Our Blog</a>
                </li>-->
                    </ul>
                </nav>
            </div>
        </div>

        <div
            class="flex flex-col items-center justify-between mx-auto mt-16 space-y-4 md:space-y-0 md:flex-row lg:mt-20">
            <div class="space-y-4 text-sm text-center md:space-y-0 md:text-left">
                <p class="text-gray-500 dark:text-gray-300">© <span id="currentYear"></span> <a href="https://momentum-one.io"
                        class="text-base hover:text-gray-500">Momentum One</a>. All rights reserved.</p>
                <p class="my-4 text-xs leading-normal text-gray-500 dark:text-gray-300" data-c2c-process="1">
                    Creating beautiful websites since 2020.</p>
            </div>
            <a href="https://app.hermesprotocol.io"
                class="inline-block px-5 py-4 font-semibold text-white rounded-lg bg-gradient-to-br from-muddywaters-500 to-muddywaters-600 hover:from-muddywaters-400 hover:to-muddywaters-600 lg:px-8 cursor-not-allowed">Get
                Started Today</a>
        </div>
        <div
            class="flex flex-col items-center justify-between mx-auto mt-8 space-y-4 md:space-y-0 md:flex-row lg:mt-16">
            <nav class="flex flex-wrap justify-center space-x-6">
                <a href="privacy_policy.html" class="mb-2 text-sm hover:text-gray-700 dark:text-gray-300">Privacy
                    Policy</a>
                <a href="terms.html" class="mb-2 text-sm hover:text-gray-700 dark:text-gray-300">Terms of Use</a>
                <a href="gdpr.html" class="mb-2 text-sm hover:text-gray-700 dark:text-gray-300">GDPR</a>
            </nav>
            <nav class="flex items-center space-x-2">
                <a href="https://twitter.com/hermesprotocol" target="_blank"
                    class="text-gray-500 hover:text-gray-600 dark:text-gray-300">
                    <span class="sr-only">Twitter</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="currentColor" viewBox="0 0 18 18">
                        <path
                            d="M5.9 15.7c5.3 0 9.6-4.2 9.7-9.5v-.1-.4c.7-.5 1.2-1.1 1.7-1.8-.6.3-1.3.5-2 .5.7-.4 1.2-1.1 1.5-1.8-.7.4-1.4.7-2.2.8C13.3 2 11.1 2 9.8 3.3c-.6.6-1 1.5-1 2.3 0 .3 0 .5.1.8-2.7-.1-5.3-1.4-7-3.5-.9 1.6-.5 3.5 1 4.5-.5 0-1-.1-1.5-.4 0 1.6 1.1 3 2.7 3.3-.3.1-.6.1-.9.1-.2 0-.4 0-.6-.1.4 1.4 1.7 2.3 3.2 2.3-1.2.9-2.7 1.4-4.2 1.4H.8c1.5 1.2 3.3 1.7 5.1 1.7">
                        </path>
                    </svg>
                </a>
                <a href="https://discord.com/invite/RkZvDsWaGk" target="_blank"
                    class="text-gray-500 hover:text-gray-600 dark:text-gray-300">
                    <span class="sr-only">Discord</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="currentColor" viewBox="0 0 18 18">
                        <path
                            d="M15.8 4.2c-1.2-1-2.7-1.5-4.3-1.6l-.2.2c1.4.4 2.7 1.1 3.8 2-1.4-.8-3-1.3-4.6-1.5-1-.1-2.1-.1-3.1 0h-.3c-1.2.2-2.4.5-3.5 1-.6.3-1 .4-1 .4 1.2-1 2.5-1.6 4-2l-.1-.1c-1.6 0-3.1.6-4.3 1.6C.8 6.9 0 10 0 13.1c1.1 1.5 2.8 2.4 4.7 2.4 0 0 .6-.7 1-1.3-1.1-.3-2-.9-2.7-1.8.1.1.3.2.4.3h.1l.1.1c.4.2.7.4 1.1.5.7.3 1.5.6 2.3.8 1.3.2 2.7.2 4 0 .8-.1 1.5-.4 2.2-.7.6-.2 1.2-.5 1.8-.9-.7.9-1.7 1.6-2.8 1.8l1 1.2c1.9 0 3.6-.8 4.7-2.4 0-3.1-.7-6.2-2.1-8.9zm-9.7 7.5c-.9 0-1.6-.8-1.6-1.7 0-.9.7-1.7 1.6-1.7h.1c.8 0 1.5.7 1.5 1.6v.1c0 .9-.7 1.6-1.6 1.7zm5.7 0c-.9 0-1.6-.8-1.6-1.7 0-.9.6-1.7 1.5-1.7s1.6.8 1.6 1.7c.1.9-.7 1.6-1.5 1.7z">
                        </path>
                    </svg>
                </a>
                <a href="https://t.me/Hermes_Protocol" target="_blank"
                    class="text-gray-500 hover:text-gray-600 dark:text-gray-300">
                    <span class="sr-only">Telegram</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24">
                        <defs></defs>
                        <path fill-rule="evenodd"
                            d="M18.4 21.8c.3.2.7.3 1.1.1.4-.1.6-.5.7-.8.9-4.1 3-14.4 3.8-18.1.1-.3 0-.6-.3-.8-.2-.2-.5-.3-.8-.2C18.7 3.6 5.8 8.4.5 10.4c-.3.1-.5.4-.5.8s.2.7.6.8c2.4.7 5.5 1.7 5.5 1.7s1.5 4.4 2.2 6.6c.1.3.3.5.6.6.3.1.6 0 .8-.2 1.2-1.1 3.1-2.9 3.1-2.9s3.6 2.5 5.6 4zm-11-8.7l1.7 5.5.4-3.5S16 9.2 19.7 5.9c.1-.1.1-.3 0-.4-.1-.1-.3-.1-.4-.1C15 8.2 7.4 13.1 7.4 13.1z"
                            clip-rule="evenodd"></path>
                    </svg>
                </a>
                <a href="https://github.com/HermesProtocol-io" target="_blank"
                    class="text-gray-500 hover:text-gray-600 dark:text-gray-300">
                    <span class="sr-only">GitHub</span>
                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                            clip-rule="evenodd"></path>
                    </svg>
                </a>
            </nav>
        </div>
    </div>
</section>

<script>
    //Fill current Year
    document.getElementById('currentYear').innerHTML = new Date().getFullYear();
</script>