<section class="antialiased bg-white dark:bg-gray-800">
    <div class="px-12 mx-auto max-w-7xl">
        <!-- Header Bar -->
        <div class="flex flex-wrap items-center justify-between w-full h-24 text-black"
            x-data="{ showMenu: false }">
            <div
                class="relative z-10 flex items-center w-auto px-0 leading-10 md:px-2 lg:flex-grow-0 lg:flex-shrink-0 lg:text-left">
                <a href="/"
                    class="inline-block font-sans text-2xl font-extrabold text-left text-black no-underline bg-transparent cursor-pointer focus:no-underline">
                    <img class="object-contain w-20 h-20 " src="assets/images/hermes-logo.svg">
                    <!--  <svg class="w-10 h-10 text-black fill-current" viewBox="0 0 39 15" xmlns="http://www.w3.org/2000/svg">
               <path d="M11.252 1.152C4.184 2.526.454 6.918.061 14.329c1.963-4.049 4.798-5.975 8.503-5.778 2.115.112 3.84 1.295 5.75 2.603 3.11 2.133 6.712 4.601 13.281 3.324 7.068-1.374 10.798-5.766 11.191-13.177-1.963 4.049-4.798 5.975-8.503 5.779-2.115-.113-3.84-1.296-5.75-2.604-3.11-2.133-6.712-4.601-13.281-3.324z" fill-rule="evenodd" class=""></path>
           </svg>-->
                </a>
            </div>
            <div class="left-0 z-0 flex-col justify-center w-full px-4 space-y-3 font-semibold leading-10 md:space-y-0 lg:flex-grow-0 md:flex-row lg:text-left lg:text-center hidden md:flex absolute"
                :class="{'flex z-30 top-0 bg-white h-full fixed': showMenu, 'hidden md:flex absolute': !showMenu }">
                <a href="/"
                    class="box-border inline-block text-center text-gray-900 no-underline bg-transparent cursor-pointer md:mr-4 hover:text-muddywaters-500 focus:no-underline">
                    Home
                </a>
                <a href="{{ '#Features' | relative_url }}"
                    class="box-border inline-block text-center text-gray-900 no-underline bg-transparent cursor-pointer md:mx-4 hover:text-muddywaters-500 focus:no-underline">
                    Features
                </a>
                <a href="{{ '#OurTeam' | relative_url }}"
                    class="box-border inline-block text-center text-gray-900 no-underline bg-transparent cursor-pointer md:mx-4 hover:text-muddywaters-500 focus:no-underline">Team</a>
                <a href="{{ '#FAQs' | relative_url }}"
                    class="box-border inline-block text-center text-gray-900 no-underline bg-transparent cursor-pointer md:mx-4 hover:text-muddywaters-500 focus:no-underline">
                    FAQs
                </a>
                <a href="{{ 'roadmap' | relative_url }}"
                class="box-border inline-block text-center text-gray-900 no-underline bg-transparent cursor-pointer md:mx-4 hover:text-muddywaters-500 focus:no-underline">
                Roadmap
            </a>

            </div>
            <div
                class="relative hidden mt-2 font-medium leading-10 md:inline-block lg:flex-grow-0 lg:flex-shrink-0 lg:mt-0 lg:text-right">
                <a href="{{ 'contact-us' | relative_url }}"
                    class="px-5 py-4 text-lg font-medium text-white bg-muddywaters-500 shadow-xl hover:bg-muddywaters-600 rounded-2xl cursor-not-allowed">Contact Us</a>
            </div>

            <div @click="showMenu = !showMenu"
                class="absolute right-0 z-40 flex flex-col items-center items-end justify-center w-10 h-10 mr-8 rounded-full cursor-pointer md:hidden hover:bg-gray-100">
                <svg class="w-6 h-6 text-gray-700" x-show="!showMenu" fill="none" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                    <path d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
                <svg class="w-6 h-6 text-gray-700" x-show="showMenu" fill="none" stroke="currentColor"
                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                    </path>
                </svg>
            </div>

        </div>
    </div>
</section>
   