<section class="pt-24 pb-32 bg-white dark:bg-gray-800">
    <div class="px-8 mx-auto max-w-7xl lg:px-12 xl:px-16 opacity-0 js-show-on-scroll ">
        <div class="flex items-start flex-col lg:flex-row">

          <div class="w-full lg:w-1/3 3xl:w-auto px-4 mb-16 lg:mb-0">
            <div class="max-w-xs px-12 mx-auto">
              <h3 class="font-heading text-4xl text-muddywaters-500 mb-2">
                100
              </h3>
              <h5 class="font-heading text-xl text-black dark:text-gray-300 mb-10">
                Servers
              </h5>
              <p class="text-gray-500 dark:text-gray-400">
                Our Discord bot needs to be officially Verified by Discord before it can be added to more servers.
              </p>
            </div>
          </div>
          <div class="w-full lg:w-1/3 3xl:w-auto px-4 mb-16 lg:mb-0">
            <div class="max-w-xs px-12 mx-auto">
              <h3 class="font-heading text-4xl text-muddywaters-500 mb-2">
                5
              </h3>
              <h5 class="font-heading text-xl text-black dark:text-gray-300 mb-10">
                Supported Marketplaces
              </h5>
              <p class="text-gray-500 dark:text-gray-400">
                NFT Marketplaces are at the heart of NFT communities. We work with them to make sure our alerts work the way they are intended to!
              </p>
            </div>
          </div>
          <div class="w-full lg:w-1/3 3xl:w-auto px-4">
            <div class="max-w-xs px-12 mx-auto">
              <h3 class="font-heading text-4xl text-muddywaters-500 mb-2">
                14
              </h3>
              <h5 class="font-heading text-xl text-black dark:text-gray-300 mb-10">
                Features
              </h5>
              <p class="text-gray-500 dark:text-gray-400">
                This is just the beggining!
              </p>
            </div>
          </div>
        </div>
      </div>
  </section>