<section class="py-20 bg-white dark:bg-gray-800 ">
    <div class="flex flex-col px-8 mx-auto space-y-12 max-w-7xl xl:px-12">
        <div class="relative">
            <h2 class="w-full text-3xl font-bold text-center sm:text-4xl md:text-5xl dark:text-gray-300"> Our Roadmap</h2>
            <p class="w-full py-8 mx-auto -mt-2 text-lg text-center text-gray-700 intro sm:max-w-3xl dark:text-gray-300">Hermes Protocol starts its journey as a notification platform... but it does not end there. Hermes Protocol has a roadmap splited in 3 phases: on-chain notifications, communications and business marketing/integrations </p>
        </div>

        <div class=" flex flex-col mb-8 sm:flex-row opacity-0 js-show-on-scroll">
            <div class="relative w-full mt-20 lg:w-1/2 lg:mt-0">
                <div class="relative z-20 grid w-full grid-cols-4 gap-5 mt-4 lg:mt-10">
                 
                    <div
                        class="flex items-center justify-center w-full h-auto col-span-2 p-3 overflow-hidden transform ">
                        <img src="assets/images/roadmap/start.png" class="w-full h-auto">
                    </div>
    
                </div>
            </div>
            <div class=" flex flex-col justify-center mt-5 mb-8 md:mt-0 sm:w-1/2 md:w-7/12 sm:pr-16 ">
                <p class="mb-2 text-sm font-semibold leading-none text-left text-muddywaters-500 uppercase">August 2021</p>
                <h3 class="mt-2 text-2xl sm:text-left md:text-4xl dark:text-gray-300">SpaceCamp</h3>
                <p class="mt-5 text-lg text-gray-700 text md:text-left dark:text-gray-300">Where everything started</p>
                <ul>
                    <li class="flex items-center py-2 space-x-4 xl:py-3">
                        <i class="text-2xl fa-solid text-muddywaters-500 fa-circle-check"></i>
                        <span class="font-medium text-base text-gray-500">Introduction Video<p><a href="https://youtu.be/4ItojFIAL7Y" class="text-sm text-muddywaters-500 uppercase hover:underline underline-offset-1"> See here</a></p></span>
                    </li>
                    <li class="flex items-center py-2 space-x-4 xl:py-3">
                        <i class="text-2xl fa-solid text-muddywaters-500 fa-circle-check"></i>
                        <span class="font-medium text-base text-gray-500">POC app<p><a href="https://hermes-protocol-webapp.pages.dev/" class="text-sm text-muddywaters-500 uppercase hover:underline underline-offset-1"> See here</a></p></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class=" flex flex-col mb-8 sm:flex-row opacity-0 js-show-on-scroll">
            <div class=" flex flex-col justify-center mt-5 mb-8 md:mt-0 sm:w-1/2 md:w-7/12 sm:pr-16">
                <p class="mb-2 text-sm font-semibold leading-none text-left text-muddywaters-500 uppercase">No more FOMO</p>
                <h3 class="mt-2 text-2xl sm:text-left md:text-4xl dark:text-gray-300">Notifications</h3>
                <p class="mt-5 text-lg text-gray-700 text md:text-left dark:text-gray-300">Hermes Protocol App has an easy interface where you can setup your notifications or you can just use Hermes Bots available for Discord, Telegram and Twitter. </p>
                <ul>
                    <li class="flex items-center py-2 space-x-4 xl:py-3">
                    <i class="text-2xl fa-solid text-muddywaters-500 fa-circle-check"></i>
                      <span class="font-medium text-base text-gray-500">Discord Bot <p><a class="text-sm text-muddywaters-500 uppercase hover:underline underline-offset-1">+ details</a></p></span>
                    </li>
                    <li class="flex items-center py-2 space-x-4 xl:py-3">
                        <i class="text-2xl fa-regular  fa-circle text-muddywaters-500"></i>
                        <span class="font-medium text-base text-gray-500">Telegram Bot  <p class="text-sm text-muddywaters-500 uppercase">BETA RELEASE: AUG 2022</p> </span>
                    </li>
                    <li class="flex items-center py-2 space-x-4 xl:py-3">
                        <i class="text-2xl fa-regular  fa-circle text-muddywaters-500"></i>
                        <span class="font-medium text-base text-gray-500">Twitter Bot <p class="text-sm text-muddywaters-500 uppercase">BETA RELEASE: AUG 2022</p></span>
                      </li>
                    <li class="flex items-center py-2 space-x-4 xl:py-3">
                        <i class="text-2xl fa-regular  fa-circle text-muddywaters-500"></i>
                        <span class="font-medium text-base text-gray-500">dApp <p class="text-sm text-muddywaters-500 uppercase">BETA RELEASE: JUL 2022</p></span>
                    </li>
                  </ul>
            </div>
            <div class="relative w-full mt-20 lg:w-1/2 lg:mt-0">
                <div class="relative z-20 grid w-full grid-cols-4 gap-5 mt-4 transform -rotate-6 lg:mt-10">
                    <div
                        class="flex items-center justify-center w-full h-auto col-span-2 p-3 overflow-hidden transform bg-white rounded-lg shadow-xl -rotate-3">
                        <img src="assets/images/notification.svg" class="w-full h-auto">
                    </div>
                    <div
                        class="flex items-center justify-center w-full h-auto col-span-2 p-3 overflow-hidden transform bg-white rounded-lg shadow-xl -rotate-3">
                        <img src="assets/images/loan_to_value.svg" class="w-full h-auto">
                    </div>
                    <div
                        class="flex items-center justify-center w-full h-auto col-span-2 p-3 overflow-hidden transform bg-white rounded-lg shadow-xl -rotate-3">
                        <img src="assets/images/price_alert.svg" class="w-full h-auto">
                    </div>
                    <div
                        class="flex items-center justify-center w-full h-auto col-span-2 p-3 overflow-hidden transform bg-white rounded-lg shadow-xl -rotate-3">
                        <img src="assets/images/social.svg" class="w-full h-auto">
                    </div>

                </div>

            </div>
        </div>
        <div class="flex flex-col mb-8 sm:flex-row opacity-0 js-show-on-scroll">
            <div class="relative w-full mt-20 lg:w-1/2 lg:mt-0">
                <div class="relative z-20 grid w-full grid-cols-4 gap-5 mt-4 transform -rotate-6 lg:mt-10">
                    <div
                        class="flex items-center justify-center w-full h-auto col-span-2 p-3 overflow-hidden transform bg-white rounded-lg shadow-xl -rotate-3">
                        <img src="assets/images/roadmap/message2.PNG" class="w-full h-auto">
                    </div>
                    <div
                        class="flex items-center justify-center w-full h-auto col-span-2 p-3 overflow-hidden transform bg-white rounded-lg shadow-xl -rotate-3">
                        <img src="assets/images/roadmap/message.PNG" class="w-full h-auto">
                    </div>

                </div>
            </div>
            <div class="flex flex-col justify-center mt-5 mb-8 md:mt-0 sm:w-1/2 md:w-7/12 sm:pl-16">
                <p class="mb-2 text-sm font-semibold leading-none text-left text-muddywaters-500 uppercase">RELEASE: Q3 2022</p>
                <h3 class="mt-2 text-2xl sm:text-left md:text-4xl dark:text-gray-300">Communication</h3>
                <p class="mt-5 text-lg text-gray-700 text md:text-left dark:text-gray-300">Cross-chain wallet-to-wallet message, P2P and OTC Trade</p>
                <li class="flex items-center py-2 space-x-4 xl:py-3">
                    <i class="text-2xl fa-regular  fa-circle text-muddywaters-500"></i>
                    <span class="font-medium text-base text-gray-500">Wallet-to-wallet message</span>
                </li>
                <li class="flex items-center py-2 space-x-4 xl:py-3">
                    <i class="text-2xl fa-regular  fa-circle text-muddywaters-500"></i>
                    <span class="font-medium text-base text-gray-500">P2P and OTC Trade</span>
                </li>
            </div>
        </div>
        <div class="flex flex-col mb-8 sm:flex-row opacity-0 js-show-on-scroll">
            <div class="flex items-center mb-8 sm:w-1/2 md:w-5/12 sm:order-last">
                <img class="rounded-lg shadow-xl" src="assets/images/roadmap/business.PNG" alt="">
            </div>
            <div class="flex flex-col justify-center mt-5 mb-8 md:mt-0 sm:w-1/2 md:w-7/12 sm:pr-16">
                <p class="mb-2 text-sm font-semibold leading-none text-left text-muddywaters-500 uppercase">RELEASE: Q3 2022</p>
                <h3 class="mt-2 text-2xl sm:text-left md:text-4xl dark:text-gray-300">Business marketing/integrations</h3>
                <p class="mt-5 text-lg text-gray-700 text md:text-left dark:text-gray-300">Marketing capaings in a Web3 style</p>
                <li class="flex items-center py-2 space-x-4 xl:py-3">
                    <i class="text-2xl fa-regular  fa-circle text-muddywaters-500"></i>
                    <span class="font-medium text-base text-gray-500">B2B platform to setup marketing and communication campaigns</span>
                </li>
                <li class="flex items-center py-2 space-x-4 xl:py-3">
                    <i class="text-2xl fa-regular  fa-circle text-muddywaters-500"></i>
                    <span class="font-medium text-base text-gray-500">Earn-to-know - User can configure how to receive the marketing campaings.</span>
                </li>
            </div>
        </div>

    </div>
</section>

