<section class="py-20 ">
    <img class="absolute top-0 right-0 dark:hidden" src="assets/images/bg/Top Banner.svg">
    <img class="absolute top-0 right-0 hidden dark:block" src="assets/images/bg/Top Banner DM.svg">

    <div class="flex flex-col px-8 mx-auto space-y-12 max-w-7xl xl:px-12">
        <div class="relative">
            <h2 class="w-full text-3xl text-center sm:text-4xl md:text-5xl text-muddywaters-500 dark:text-muddywaters-200">Our Roadmap</h2>
            <p class="w-full py-8 mx-auto -mt-2 text-2xl text-center text-gray-500 intro sm:max-w-4xl dark:text-gray-300">Hermes Protocol started its journey as a notifications bot... but it has since evolved into a super platform with various features.</p>
        </div>

        <div class=" flex flex-col mb-8 sm:flex-row opacity-0 js-show-on-scroll">
            <div class="relative w-full lg:w-2/3 lg:mt-0">
                <div class="relative z-20 md:-ml-10 grid w-full grid-cols-4 gap-5 mt-4 transform -rotate-6 lg:mt-10">
                    <div
                        class="flex items-center justify-center w-full h-auto col-span-2 p-3 overflow-hidden transform bg-white rounded-lg shadow-xl -rotate-3">
                        <img src="assets/images/notification.svg" class="w-full h-auto">
                    </div>
                    <div
                        class="flex items-center justify-center w-full h-auto col-span-2 p-3 overflow-hidden transform bg-white rounded-lg shadow-xl -rotate-3">
                        <img src="assets/images/loan_to_value.svg" class="w-full h-auto">
                    </div>
                    <div
                        class="flex items-center justify-center w-full h-auto col-span-2 p-3 overflow-hidden transform bg-white rounded-lg shadow-xl -rotate-3">
                        <img src="assets/images/price_alert.svg" class="w-full h-auto">
                    </div>
                    <div
                        class="flex items-center justify-center w-full h-auto col-span-2 p-3 overflow-hidden transform bg-white rounded-lg shadow-xl -rotate-3">
                        <img src="assets/images/social.svg" class="w-full h-auto">
                    </div>

                </div>
            </div>
            <div class="grid gap-8 grid-cols-7 w-full">
                    <div class=" col-span-2 border-2 my-auto border-muddywaters-500 bg-muddywaters-500 dark:bg-muddywaters-200 dark:border-muddywaters-200 rounded-full p-2 items-center">
                        <p class="text-sm  leading-none text-center text-white dark:text-gray-600 uppercase ">2021</p>
                    </div>
                    <div class="col-span-5 flex flex-col">
                        <h3 class="mt-2 text-2xl sm:text-left md:text-2xl text-gray-500 dark:text-gray-300">Spacecamp Hackathon</h3>
                        <ul>
                            <li class="flex items-center py-2 space-x-4 xl:py-3">
                                <span class="text-base text-gray-500"><a href="https://youtu.be/4ItojFIAL7Y" class="text-sm text-muddywaters-500 uppercase hover:underline underline-offset-1" target="_blank">Introduction Video</a> | <a href="https://eventornado.com/event/terra-spacecamp" class="text-sm text-muddywaters-500 dark:text-muddywaters-200 uppercase hover:underline underline-offset-1" target="_blank">+info here</a>
                            </li>
                        </ul>
                    </div>
                    <div class=" col-span-2 justify-center border-2 my-auto border-muddywaters-500 bg-muddywaters-500 dark:bg-muddywaters-200  dark:border-muddywaters-200 rounded-full p-2 items-center">
                        <p class="text-sm  leading-none text-center text-white dark:text-gray-600 uppercase ">Mar 2022</p>
                    </div>
                    <div class="col-span-5 justify-center flex flex-col">
                        <h3 class="mt-2 text-2xl sm:text-left md:text-2xl text-gray-500 dark:text-gray-300">Discord Bot</h3>
                        <p class="text-muddywatters-500 dark:text-muddywatters-200">Bot available for servers in public channels</p>
                        <ul>
                            <li class="flex items-center py-2 space-x-4 xl:py-3">
                                <i class="text-2xl fa-solid text-muddywaters-500 dark:text-muddywaters-200 fa-circle-check"></i>
                                <span class="text-base text-gray-500 dark:text-gray-300">NFT Monitor</a>
                            </li>
                            <li class="flex items-center py-2 space-x-4 xl:py-3">
                                <i class="text-2xl fa-solid text-muddywaters-500 dark:text-muddywaters-200 fa-circle-check"></i>
                                <span class="text-base text-gray-500 dark:text-gray-300">Governance Proposal</a>
                            </li>
                            <li class="flex items-center py-2 space-x-4 xl:py-3">
                                <i class="text-2xl fa-solid text-muddywaters-500 dark:text-muddywaters-200 fa-circle-check"></i>
                                <span class="text-base text-gray-500 dark:text-gray-300">Price Alert</a>
                            </li>
                        </ul>
                    </div>
            </div>
        </div>
        <div class="flex flex-col mb-8 sm:flex-row opacity-0 js-show-on-scroll">
            <div class="relative w-full lg:w-2/3 p-2 lg:mt-20">
                <div class="relative z-20 md:-ml-10 md grid w-full grid-cols-4 gap-5 mt-4 transform -rotate-6 lg:mt-10">
                    <div
                        class="flex items-center justify-center w-full h-auto col-span-2 p-3 overflow-hidden transform bg-white rounded-lg shadow-xl -rotate-3">
                        <img src="assets/images/roadmap/NFT_Monitor.png" class="w-full h-auto">
                    </div>
                    <div
                        class="flex items-center justify-center w-full h-auto col-span-2 p-3 overflow-hidden transform bg-white rounded-lg shadow-xl -rotate-3">
                        <img src="assets/images/roadmap/price_alert.png" class="w-full h-auto">
                    </div>
                    <div
                        class="flex items-center justify-center w-full h-auto col-span-2 p-3 overflow-hidden transform bg-white rounded-lg shadow-xl -rotate-3">
                        <img src="assets/images/roadmap/liquid_staking.png" class="w-full h-auto">
                    </div>
                    <div
                        class="flex items-center justify-center w-full h-auto col-span-2 p-3 overflow-hidden transform bg-white rounded-lg shadow-xl -rotate-3">
                        <img src="assets/images/roadmap/liquidity_pool.png" class="w-full h-auto">
                    </div>

                </div>

            </div>
            <div class="grid gap-8 grid-cols-7 w-full">
                <div class=" col-span-2 justify-center border-2 my-auto border-muddywaters-500 bg-muddywaters-500 dark:bg-muddywaters-200 dark:border-muddywaters-200 rounded-full p-2 items-center">
                    <p class="text-sm  leading-none text-center text-white dark:text-gray-600 uppercase ">Sep 2022</p>
                </div>
                <div class="col-span-5 justify-center flex flex-col">
                    <h3 class="mt-2 text-2xl sm:text-left md:text-2xl text-gray-500 dark:text-gray-300">WebApp Launch</h3>
                    <ul>
                        <li class="flex items-center py-2 space-x-4 xl:py-3">
                            <span class="text-base text-gray-500"><a href="https://www.youtube.com/watch?v=0SNmghkL4kI&list=PLIr-fbPtyfiu9f4DU9t_Qjxj61MNKY57_&index=1" class="text-sm text-muddywaters-500 uppercase hover:underline underline-offset-1" target="_blank">DEMO</a></span>
                        </li>
                        <li class="flex items-center py-2 space-x-4 xl:py-3">
                            <i class="text-2xl fa-solid text-muddywaters-500 dark:text-muddywaters-200 fa-circle-check"></i>
                            <span class="text-base text-gray-500 dark:text-gray-300">Notification delivered on Discord</span>
                        </li>
                        <li class="flex items-center py-2 space-x-4 xl:py-3">
                            <i class="text-2xl fa-solid text-muddywaters-500 dark:text-muddywaters-200 fa-circle-check"></i>
                            <span class="text-base text-gray-500 dark:text-gray-300">10 dApps supported</span>
                        </li>
                        <li class="flex items-center py-2 space-x-4 xl:py-3">
                            <i class="text-2xl fa-solid text-muddywaters-500 dark:text-muddywaters-200 fa-circle-check"></i>
                            <span class="text-base text-gray-500 dark:text-gray-300">5 Notification Types</span>
                        </li>
                        <li class="flex items-center py-2 space-x-4 xl:py-3">
                            <i class="text-2xl fa-solid text-muddywaters-500 dark:text-muddywaters-200 fa-circle-check"></i>
                            <span class="text-base text-gray-500 dark:text-gray-300">Blockchains: Terra & Terra Classic</span>
                        </li>
                    </ul>
                </div>
                <div class=" col-span-2 justify-center border-2 my-auto border-muddywaters-500 bg-muddywaters-500 dark:bg-muddywaters-200 dark:border-muddywaters-200 rounded-full p-2 items-center">
                    <p class="text-sm  leading-none text-center text-white dark:text-gray-600 uppercase ">Dec 2022</p>
                </div>
                <div class="col-span-5 justify-center flex flex-col">
                    <h3 class="mt-2 text-2xl sm:text-left md:text-2xl text-gray-500 dark:text-gray-300">Public API</h3>
                    <ul>
                        <li class="flex items-center py-2 space-x-4 xl:py-3">
                            <span class="text-base text-gray-500"><a href="https://twitter.com/HermesProtocol/status/1608923007069880320?s=20" class="text-sm text-muddywaters-500 uppercase hover:underline underline-offset-1" target="_blank">Backbone Labs video</a> | <a href="https://docs.hermesprotocol.io/public-api/" class="text-sm text-muddywaters-500 dark:text-muddywaters-200 uppercase hover:underline underline-offset-1" target="_blank">+info here</a>
                        </li>
                        <li class="flex items-center py-2 space-x-4 xl:py-3">
                            <i class="text-2xl fa-solid text-muddywaters-500 dark:text-muddywaters-200 fa-circle-check"></i>
                            <span class="text-base text-gray-500 dark:text-gray-300">Allows decentralized projects to enable notifications for their users</span>
                        </li>
                    </ul>
                    <h3 class="mt-2 text-2xl sm:text-left md:text-2xl text-gray-500 dark:text-gray-300">Discord Explorer</h3>
                    <ul>
                        <li class="flex items-center py-2 space-x-4 xl:py-3">
                            <span class="text-base text-gray-500 dark:text-gray-300"><a href="https://discord.com/oauth2/authorize?client_id=880167992409878598&permissions=534455512257&scope=bot%20identify%20guilds" class="text-sm text-muddywaters-500 uppercase hover:underline underline-offset-1" target="_blank">Invite to your server</a> | <a href="https://twitter.com/HermesProtocol/status/1605187152215965698" class="text-sm text-muddywaters-500 dark:text-muddywaters-200 uppercase hover:underline underline-offset-1" target="_blank">+info here</a>
                        </li>
                        <li class="flex items-center py-2 space-x-4 xl:py-3">
                            <i class="text-2xl fa-solid text-muddywaters-500 dark:text-muddywaters-200 fa-circle-check"></i>
                            <span class="text-base text-gray-500 dark:text-gray-300">Blockchain explorer experience within Discord.</span>
                        </li>
                        <li class="flex items-center py-2 space-x-4 xl:py-3">
                            <i class="text-2xl fa-solid text-muddywaters-500 dark:text-muddywaters-200 fa-circle-check"></i>
                            <span class="text-base text-gray-500 dark:text-gray-300">See NFTs, Validators, Wallets, etc.</span>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>

        <div class="flex flex-col mb-8 sm:flex-row opacity-0 js-show-on-scroll">
            <div class="relative w-full lg:w-2/3 p-2 lg:mt-20">
                <div class="relative z-20 grid md:-ml-10 w-full grid-cols-4 gap-5 mt-4 transform -rotate-6 lg:mt-10">
                    <div
                    class="flex items-center justify-center w-full h-auto col-span-4  overflow-hidden transform bg-white rounded-lg shadow-xl -rotate-3">
                    <img src="assets/images/roadmap/P2P.png" class="w-full h-auto">
                    </div>
                </div>
            </div>
            <div class="grid gap-8 grid-cols-7 w-full">
                <div class=" col-span-2 justify-center border-2 my-auto border-muddywaters-500 bg-muddywaters-500 dark:bg-muddywaters-200 dark:border-muddywaters-200 rounded-full p-2 items-center">
                    <p class="text-sm  leading-none text-center text-white dark:text-gray-600 uppercase ">Jan 2023</p>
                </div>
                <div class="col-span-5 justify-center flex flex-col">
                    <h3 class="mt-2 text-2xl sm:text-left md:text-2xl text-gray-500 dark:text-gray-300">Twitter Bots</h3>
                    <ul>
                        <li class="flex items-center py-2 space-x-4 xl:py-3">
                            <span class="text-base text-gray-500"><a href="https://twitter.com/i/lists/1608851894813835266/members" class="text-sm text-muddywaters-500 uppercase hover:underline underline-offset-1" target="_blank">currently automated accounts</a></span>
                        </li>
                        <li class="flex items-center py-2 space-x-4 xl:py-3">
                            <i class="text-2xl fa-solid text-muddywaters-500 dark:text-muddywaters-200 fa-circle-check"></i>
                            <span class="text-base text-gray-500 dark:text-gray-300">Governance Polls & Votes</span>
                        </li>
                    </ul>
                </div>
                <div class=" col-span-2 justify-center border-2 my-auto border-muddywaters-500 bg-muddywaters-500 dark:bg-muddywaters-200 dark:border-muddywaters-200 rounded-full p-2 items-center">
                    <p class="text-sm  leading-none text-center text-white dark:text-gray-600 uppercase ">Feb 2023</p>
                </div>
                <div class="col-span-5 justify-center flex flex-col">
                    <h3 class="mt-2 text-2xl sm:text-left md:text-2xl text-gray-500 dark:text-gray-300">P2P Barter Trading</h3>
                    <ul>
                        <li class="flex items-center py-2 space-x-4 xl:py-3">
                            <i class="text-2xl fa-regular text-muddywaters-500 dark:text-muddywaters-200 fa-circle"></i>
                            <span class="text-base text-gray-500 dark:text-gray-300">Smart Contract Audit</span>
                        </li>
                        <li class="flex items-center py-2 space-x-4 xl:py-3">
                            <i class="text-2xl fa-regular text-muddywaters-500 dark:text-muddywaters-200 fa-circle"></i>
                            <span class="text-base text-gray-500 dark:text-gray-300">Web app release on Cosmos</span>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>

        <div class="flex flex-col mb-8 sm:flex-row opacity-0 js-show-on-scroll">
            <div class="relative w-full lg:w-2/3 p-2 lg:mt-20">
                <div class="relative z-20 grid md:-ml-10 w-full grid-cols-4 gap-5 mt-4 transform -rotate-6 lg:mt-10">
                    <div
                        class="flex items-center justify-center w-full h-auto col-span-2  overflow-hidden transform bg-white rounded-lg shadow-xl -rotate-3">
                        <img src="assets/images/roadmap/Messages1.jpg" class="w-full h-auto">
                    </div>
                    <div
                        class="flex items-center justify-center w-full h-auto col-span-2  overflow-hidden transform bg-white rounded-lg shadow-xl -rotate-3">
                        <img src="assets/images/roadmap/Messages2.jpg" class="w-full h-auto">
                    </div>
                </div>

            </div>
            <div class="grid gap-8 grid-cols-7 w-full">
                <div class=" col-span-2 justify-center border-2 my-auto border-muddywaters-500 bg-muddywaters-500 dark:bg-muddywaters-200 dark:border-muddywaters-200 rounded-full p-2 items-center">
                    <p class="text-sm  leading-none text-center text-white dark:text-gray-600 uppercase ">Mar 2023</p>
                </div>
                <div class="col-span-5 justify-center flex flex-col">
                    <h3 class="mt-2 text-2xl sm:text-left md:text-2xl text-gray-500 dark:text-gray-300">New Integration</h3>
                    <ul>
                        <li class="flex items-center py-2 space-x-4 xl:py-3">
                            <i class="text-2xl fa-regular text-muddywaters-500 dark:text-muddywaters-200 fa-circle"></i>
                            <span class="text-base text-gray-500 dark:text-gray-300">Radix</span>
                        </li>
                        <li class="flex items-center py-2 space-x-4 xl:py-3">
                            <i class="text-2xl fa-regular text-muddywaters-500 dark:text-muddywaters-200 fa-circle"></i>
                            <span class="text-base text-gray-500 dark:text-gray-300">Near</span>
                        </li>
                        <li class="flex items-center py-2 space-x-4 xl:py-3">
                            <i class="text-2xl fa-regular text-muddywaters-500 dark:text-muddywaters-200 fa-circle"></i>
                            <span class="text-base text-gray-500 dark:text-gray-300"><a href="https://crew3.xyz/c/hermesprotocol/" class="text-muddywaters-500 underline dark:text-muddywatters-200 hover:text-muddywaters-600 dark:hover:text-muddywaters-400">Crew3</a> - automatic verification of on-chain quests</span>
                        </li>
                    </ul>
                </div>
                <div class=" col-span-2 justify-center border-2 my-auto border-muddywaters-500 bg-muddywaters-500 dark:bg-muddywaters-200 dark:border-muddywaters-200 rounded-full p-2 items-center">
                    <p class="text-sm  leading-none text-center text-white dark:text-gray-600 uppercase ">Q2 2023</p>
                </div>
                <div class="col-span-5 justify-center flex flex-col">
                    <h3 class="mt-2 text-2xl sm:text-left md:text-2xl text-gray-500 dark:text-gray-300">Wallet-to-wallet Chat</h3>
                    <ul>
                        <li class="flex items-center py-2 space-x-4 xl:py-3">
                            <span class="text-base text-gray-500"><a href="https://www.youtube.com/watch?v=0SNmghkL4kI&list=PLIr-fbPtyfiu9f4DU9t_Qjxj61MNKY57_&index=1" class="text-sm text-muddywaters-500 uppercase hover:underline underline-offset-1" target="_blank">DEMO</a></span>
                        </li>
                        <li class="flex items-center py-2 space-x-4 xl:py-3">
                            <i class="text-2xl fa-regular text-muddywaters-500 dark:text-muddywaters-200 fa-circle"></i>
                            <span class="text-base text-gray-500 dark:text-gray-300 ">Cross-chain chat</span>
                        </li>
                        <li class="flex items-center py-2 space-x-4 xl:py-3">
                            <i class="text-2xl fa-regular text-muddywaters-500 dark:text-muddywaters-200 fa-circle"></i>
                            <span class="text-base text-gray-500 dark:text-gray-300">End-to-end Encrypted</span>
                        </li>
                        <li class="flex items-center py-2 space-x-4 xl:py-3">
                            <i class="text-2xl fa-regular text-muddywaters-500 dark:text-muddywaters-200 fa-circle"></i>
                            <span class="text-base text-gray-500 dark:text-gray-300">Barter with other users</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        

    </div>
</section>

