<section class="py-20 bg-white dark:bg-gray-800 ">
    <div class="flex flex-col px-8 mx-auto space-y-12 max-w-7xl xl:px-12">
        <div class="relative">
            <h2 class="w-full text-3xl font-bold text-center sm:text-4xl md:text-5xl dark:text-gray-300">Our Roadmap</h2>
            <p class="w-full py-8 mx-auto -mt-2 text-lg text-center text-gray-700 intro sm:max-w-3xl dark:text-gray-300">Hermes Protocol started its journey as a notifications platform... but it doesn't stop there.<br>There's a roadmap split into 3 phases: on-chain notifications, communications and business marketing/integrations.</p>
        </div>

        <div class=" flex flex-col mb-8 sm:flex-row opacity-0 js-show-on-scroll">
            <div class="relative w-full mt-20 lg:w-1/2 lg:mt-0">
                <div class="relative z-20 grid w-full grid-cols-4 gap-5 mt-4 lg:mt-10">
                 
                    <div
                        class="flex items-center justify-center w-full h-auto col-span-2 p-3 overflow-hidden transform ">
                        <img src="assets/images/roadmap/start.png" class="w-full h-auto">
                    </div>
    
                </div>
            </div>
            <div class=" flex flex-col justify-center mt-5 mb-8 md:mt-0 sm:w-1/2 md:w-7/12 sm:pr-16 ">
                <p class="mb-2 text-sm font-semibold leading-none text-left text-muddywaters-500 uppercase">August 2021</p>
                <h3 class="mt-2 text-2xl sm:text-left md:text-4xl dark:text-gray-300">Spacecamp</h3>
                <p class="mt-5 text-lg text-gray-700 text md:text-left dark:text-gray-300">Where everything started (<a class="hover:underline" href="https://eventornado.com/event/terra-spacecamp" target="_blank">+info here</a>).</p>
                <ul>
                    <li class="flex items-center py-2 space-x-4 xl:py-3">
                        <i class="text-2xl fa-solid text-muddywaters-500 fa-circle-check"></i>
                        <span class="font-medium text-base text-gray-500">Introduction Video<p><a href="https://youtu.be/4ItojFIAL7Y" class="text-sm text-muddywaters-500 uppercase hover:underline underline-offset-1" target="_blank">See here</a></p></span>
                    </li>
                    <li class="flex items-center py-2 space-x-4 xl:py-3">
                        <i class="text-2xl fa-solid text-muddywaters-500 fa-circle-check"></i>
                        <span class="font-medium text-base text-gray-500">Proof-of-concept webapp<p><a href="https://poc-demo.hermesprotocol.io/" class="text-sm text-muddywaters-500 uppercase hover:underline underline-offset-1" target="_blank">See here</a></p></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class=" flex flex-col mb-8 sm:flex-row opacity-0 js-show-on-scroll">
            <div class=" flex flex-col justify-center mt-5 lg:mb-8 md:mt-0 sm:w-1/2 md:w-7/12 sm:pr-8">
                <p class="mb-2 text-sm font-semibold leading-none text-left text-muddywaters-500 uppercase">No more FOMO</p>
                <h3 class="mt-2 text-2xl sm:text-left md:text-4xl dark:text-gray-300">Notifications</h3>
                <p class="mt-5 text-lg text-gray-700 text md:text-left dark:text-gray-300">The Hermes Protocol dApp has an easy interface where you can setup your notifications or just use the Bots available on Discord, Telegram and Twitter.</p>
                <ul>
                    <li class="flex items-center py-2 space-x-4 xl:py-3">
                        <i class="text-2xl fa-solid text-muddywaters-500 fa-circle-check"></i>
                        <span class="font-medium text-base text-gray-500">Discord Bot
                            <p><a ref="https://www.youtube.com/watch?v=7bT52QrD2_8&list=PLIr-fbPtyfiu9f4DU9t_Qjxj61MNKY57_&index=3" class="text-sm text-muddywaters-500 uppercase hover:underline underline-offset-1">DEMO</a> / <a href="https://discord.com/api/oauth2/authorize?client_id=880167992409878598&permissions=534455512257&scope=bot+applications.commands" class="text-sm text-muddywaters-500 uppercase hover:underline underline-offset-1" target="_blank">invite</a></p>
                        </span>
                    </li>
                    <li class="flex items-center py-2 space-x-4 xl:py-3">
                        <i class="text-2xl fa-solid text-muddywaters-500 fa-circle-check"></i>
                        <span class="font-medium text-base text-gray-500">Web dApp
                            <p ><a ref="https://www.youtube.com/watch?v=0SNmghkL4kI&list=PLIr-fbPtyfiu9f4DU9t_Qjxj61MNKY57_&index=1" class="text-sm text-muddywaters-500 uppercase hover:underline underline-offset-1">DEMO</a></p>
                        </span>
                    </li>
                    <li class="flex items-center py-2 space-x-4 xl:py-3">
                        <i class="text-2xl fa-regular  fa-circle text-muddywaters-500"></i>
                        <span class="font-medium text-base text-gray-500">Telegram Bot
                            <p class="text-sm text-muddywaters-500 uppercase">BETA RELEASE: OCT 2022</p>
                        </span>
                    </li>
                    <li class="flex items-center py-2 space-x-4 xl:py-3">
                        <i class="text-2xl fa-regular  fa-circle text-muddywaters-500"></i>
                        <span class="font-medium text-base text-gray-500">Twitter Bots
                            <p class="text-sm text-muddywaters-500 uppercase">BETA RELEASE: Q4 2022</p>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="relative w-full lg:w-2/3 p-2 lg:mt-20">
                <div class="relative z-20 grid w-full grid-cols-4 gap-5 mt-4 transform -rotate-6 lg:mt-10">
                    <div
                        class="flex items-center justify-center w-full h-auto col-span-2 p-3 overflow-hidden transform bg-white rounded-lg shadow-xl -rotate-3">
                        <img src="assets/images/notification.svg" class="w-full h-auto">
                    </div>
                    <div
                        class="flex items-center justify-center w-full h-auto col-span-2 p-3 overflow-hidden transform bg-white rounded-lg shadow-xl -rotate-3">
                        <img src="assets/images/loan_to_value.svg" class="w-full h-auto">
                    </div>
                    <div
                        class="flex items-center justify-center w-full h-auto col-span-2 p-3 overflow-hidden transform bg-white rounded-lg shadow-xl -rotate-3">
                        <img src="assets/images/price_alert.svg" class="w-full h-auto">
                    </div>
                    <div
                        class="flex items-center justify-center w-full h-auto col-span-2 p-3 overflow-hidden transform bg-white rounded-lg shadow-xl -rotate-3">
                        <img src="assets/images/social.svg" class="w-full h-auto">
                    </div>

                </div>

            </div>
        </div>
        <div class="flex flex-col mb-8 sm:flex-row opacity-0 js-show-on-scroll">
            <div class="relative w-full lg:w-1/2 lg:mt-10 mb-7 sm:mb-0">
                <div class="relative z-20 grid w-full grid-cols-4 gap-5 mt-4 transform -rotate-6 lg:mt-10">
                    <div
                        class="flex items-center justify-center w-full h-auto col-span-2 p-3 overflow-hidden transform bg-white rounded-lg shadow-xl -rotate-3">
                        <img src="assets/images/roadmap/Messages1.jpg" class="w-full h-auto">
                    </div>
                    <div
                        class="flex items-center justify-center w-full h-auto col-span-2 p-3 overflow-hidden transform bg-white rounded-lg shadow-xl -rotate-3">
                        <img src="assets/images/roadmap/Messages2.jpg" class="w-full h-auto">
                    </div>

                </div>
            </div>
            <div class="flex flex-col justify-center mb-8 mt-4 md:mt-0 sm:w-1/2 md:w-7/12 sm:pl-16">
                <p class="mb-2 text-sm font-semibold leading-none text-left text-muddywaters-500 uppercase">RELEASE: Q4 2022</p>
                <h3 class="mt-2 text-2xl sm:text-left md:text-4xl dark:text-gray-300">Encrypted Communications</h3>
                <p class="mt-5 text-lg text-gray-700 text md:text-left dark:text-gray-300">Cross-chain wallet-to-wallet messaging, P2P and OTC Trading</p>
                <li class="flex items-center py-2 space-x-4 xl:py-3">
                    <i class="text-2xl fa-regular  fa-circle text-muddywaters-500"></i>
                    <span class="font-medium text-base text-gray-500">Wallet-to-wallet <a href="https://en.wikipedia.org/wiki/End-to-end_encryption" class="hover:underline underline-offset-1" target="_blank">E2EE</a> messages</span>
                </li>
                <li class="flex items-center py-2 space-x-4 xl:py-3">
                    <i class="text-2xl fa-regular  fa-circle text-muddywaters-500"></i>
                    <span class="font-medium text-base text-gray-500">Trustless Peer-to-peer and Over-the-Counter Trades</span>
                </li>
            </div>
        </div>
        <div class="flex flex-col mb-8 sm:flex-row opacity-0 js-show-on-scroll">
            <div class="flex items-center mb-8 sm:w-1/2 md:w-5/12 sm:order-last">
                <img class="rounded-lg shadow-xl blur-sm" src="assets/images/roadmap/business.PNG" alt="">
            </div>
            <div class="flex flex-col justify-center mt-5 mb-8 md:mt-0 sm:w-1/2 md:w-7/12 sm:pr-16">
                <p class="mb-2 text-sm font-semibold leading-none text-left text-muddywaters-500 uppercase">RELEASE: 2023</p>
                <h3 class="mt-2 text-2xl sm:text-left md:text-4xl dark:text-gray-300">Business Marketing & Integrations</h3>
                <p class="mt-5 text-lg text-gray-700 text md:text-left dark:text-gray-300">Web3-native, privacy-centric marketing campaigns</p>
                <li class="flex items-center py-2 space-x-4 xl:py-3">
                    <i class="text-2xl fa-regular  fa-circle text-muddywaters-500"></i>
                    <span class="font-medium text-base text-gray-500">B2B Platform for marketing and communication campaigns</span>
                </li>
                <li class="flex items-center py-2 space-x-4 xl:py-3">
                    <i class="text-2xl fa-regular  fa-circle text-muddywaters-500"></i>
                    <span class="font-medium text-base text-gray-500">Notification-Airdrops - Get paid to be notified!</span>
                </li>
            </div>
        </div>

    </div>
</section>

