<!DOCTYPE html>
<html lang="en">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css"  rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
    {% include header.html %}

    <body class="bg-gradient-to-bl from-gray-extralight15 via-white to-gray-extralight15 dark:from-gray-600 dark:via-gray-800 dark:to-gray-600">

        {{content}}

        {% include blocks/footer.html %}

    </body>

    {% include footer.html %}
</html>

