
<!-- Section 1 -->
<section class="relative py-0 bg-white dark:bg-gray-800 lg:py-20">
    <div class="relative px-16 mx-auto max-w-7xl xl:px-10">

        <div class="relative z-20">
            <h3 class="text-5xl font-bold leading-tight text-left text-black dark:text-gray-300 md:text-6xl lg:text-7xl xl:text-7xl xl:leading-tight">
              Support Hermes Protocol
            </h3>
            <div class="flex flex-col mt-14 sm:flex-row sm:items-center">
                <p class="text-xl font-normal text-left text-muddywaters-500">
                  The platform that helps you stay informed at the right time!</p>
                <div class="flex mt-5 space-x-1 sm:mt-1 sm:ml-3">
                    <div class="w-10 h-2 bg-muddywaters-500 rounded-full opacity-100"></div>
                    <div class="w-8 h-2 bg-muddywaters-500  rounded-full opacity-75"></div>
                    <div class="w-4 h-2 bg-muddywaters-500  rounded-full opacity-50"></div>
                    <div class="w-3 h-2 bg-muddywaters-500  rounded-full opacity-25"></div>
                    <div class="w-2 h-2 bg-muddywaters-500  rounded-full opacity-10"></div>
                    <div class="w-2 h-2 bg-muddywaters-500  rounded-full opacity-5"></div>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 mt-24 gap-14 lg:grid-cols-3">
            <div class="flex text-gray-500 dark:text-gray-300">
                <i class="fa-solid fa-wallet text-muddywaters-500 text-7xl w-20 h-20 mr-8 opacity-100"></i>
                <div class="relative space-y-2">
                    <h4 class="text-xl font-bold leading-relaxed">5%</h4>
                    <p class="text-lg dark:text-gray-300">Commission
                </p></div>
            </div>

            <div class="flex text-gray-500 dark:text-gray-300">
                <img class="flex-shrink-0 w-20 h-20 mr-8" src="assets/images/luna.svg" />
                <div class="relative space-y-2">
                    <h4 class="text-2xl font-bold leading-relaxed">1M</h4>
                    <p class="text-lg text-gray-500 dark:text-gray-300">Luna Staked
                </p></div>
            </div>

            <div class="flex text-gray-500 dark:text-gray-300">
                <i class="fa-solid fa-stopwatch text-muddywaters-500 text-7xl w-20 h-20 mr-8 opacity-100"></i>
                <div class="relative space-y-2">
                    <h4 class="text-xl font-bold leading-relaxed">100%</h4>
                    <p class="text-lg text-gray-500 dark:text-gray-300">Uptime
                </p></div>
            </div>
        </div>
    </div>
</section>


<!-- <script>
  function delegateSubmit() {
    console.log("hello");

    let errorField = [];
    let formValues = {
      amount: {
        value: document.getElementById("amount").value,
        label: document.getElementById("amount").id,
      },
    };

    //validate if some of required field is empty, if empty add to errorField array field name to show the error message
    for (const inputName in formValues) {
      if (
        formValues[inputName].value == "" ||
        formValues[inputName].value == null
      ) {
        errorField.push(formValues[inputName].label);
      }
    }

    //remove all errors
    document.querySelectorAll(".input-wrapper").forEach(function (element) {
      element.classList.remove("error");
    });

    //if array errorField is empty=no errors found, proceed, call integromat to send emails
    if (errorField.length > 0) {
      //if errors found, show errors in form inputs span
      errorField.forEach((element) =>
        document.getElementById(element).parentElement.classList.add("error")
      );
    }
  }
</script> -->
