
<section class="relative w-full bg-white dark:bg-gray-800 pb-10 mt-36 mb-24">
  <div class="px-12 mx-auto text-sm max-w-6xl md:text-base">
      <div class="flex flex-col justify-center mt-0 mb-10 text-transparent bg-hermes-hgradient bg-clip-text">
          <h2 class="mt-0 mb-6 text-4xl text-center tracking-normal">Delegate to Hermes Protocol validator</h2>
      </div>
      <div class="grid gap-5 lg:grid-cols-3 xl:gap-8">
          <div class="relative flex flex-col h-full p-1 bg-hermes-gradient rounded-3xl  opacity-0  js-show-from-right">
            <div class=" px-8 bg-white rounded-3xl">
              <div class="mb-4 pt-8">
                  <img class="w-auto h-16 mx-auto" src ="{{'assets/images/delegation/Terra.png'| relative_url }}">
              </div>
              <div class=" pb-8">
                  <div class="flex justify-center">
                      <h3 class="mt-3 pb-3 text-2xl text-center  border-b-2 border-cyellow-500"> Terra </h3>
                  </div>
                  <div class="grid grid-cols-6 gap-4 w-full mt-3 text-md text-center ">                
                      <div class="flex w-6 h-6 items-center justify-center text-sm text-center "><img src="{{'assets/images/delegation/wallet.png'| relative_url }}"></div> 
                      <div class="col-start-2 col-span-5  flex  text-left" ><h4><a id="commission-rate">5%</a> Comission</h4> </div>
                      <div class="flex w-6 h-6 items-center justify-center text-sm text-center  "><img src="{{'assets/images/delegation/luna.png'| relative_url }}"></div>
                                <div class="col-start-2 col-span-5  text-left flex"> <h4><a id="total-delegations">1.2 M </a> Luna</h4> <br> <h5>Staked from <a id="total-delegations"></a> delegators</h5> </div>
                      <div class="flex w-6 h-6 items-center justify-center text-sm text-center  "><img src="{{'assets/images/delegation/watch.png'| relative_url }}"></div> 
                      <div class="col-start-2 col-span-5 text-left">100% Uptime</div>
                  </div>
                  <div class="mt-4">
                    <a class="mx-auto inline-flex items-center justify-center w-full h-12 px-8 text-white bg-hermes-gradient rounded-2xl shadow-2xl" href="https://station.terra.money/stake/terravaloper1g6pwngzfj73wnxm7y5gae0thylphugumc96gh3#delegate"> Stake Now </a>
                 </div>
              </div>
            </div>
          </div>
          <div class="relative flex flex-col h-full p-1 bg-hermes-gradient rounded-3xl  opacity-0  js-show-on-scroll">
            <div class=" px-8 bg-white rounded-3xl">
              <div class="mb-4 pt-8">
                  <img class="w-auto h-16 mx-auto" src ="{{'assets/images/delegation/Q chain.png'| relative_url }}">
              </div>
              <div class=" mt-auto pb-8">
                  <div class="flex justify-center">
                      <h3 class="mt-3 pb-3 text-2xl text-center border-b-2 border-cyellow-500"> Q Blockchain </h3>
                  </div>
                  <div class="grid grid-cols-6 gap-4 w-full mt-3 text-md text-center ">                
                      <div class="flex w-6 h-6 items-center justify-center text-sm text-center"><img src="{{'assets/images/delegation/wallet.png'| relative_url }}"></div> 
                      <div class="col-start-2 col-span-5  text-left">5% Comission </div>
                      <div class="flex w-6 h-6 items-center justify-center text-sm text-center"><img src="{{'assets/images/delegation/luna.png'| relative_url }}"></div>
                      <div class="col-start-2 col-span-5  text-left"> 1.2M Q <br> Staked from 100 delegators </div>
                      <div class="flex w-6 h-6 items-center justify-center text-sm text-center"><img src="{{'assets/images/delegation/watch.png'| relative_url }}"></div> 
                      <div class="col-start-2 col-span-5 text-left">100% Uptime</div>
                  </div> 
                  <div class="mt-4">
                    <a class="mx-auto inline-flex items-center justify-center w-full h-12 px-8 text-white bg-hermes-gradient rounded-2xl shadow-2xl"> Stake Now </a>
                 </div>              
               </div>
              </div>
          </div>
          <div class="relative flex items-stretch h-full p-1 bg-hermes-gradient rounded-3xl  opacity-0 js-show-from-left">
            <div class="grow px-8 bg-white rounded-3xl flex flex-col justify-between py-8">
                  <div class="flex justify-center text-transparent bg-hermes-hgradient bg-clip-text">
                      <h3 class=" mt-3 pb-3 text-9xl text-center"> ? </h3>
                  </div>
                  <h3 class="w-full mt-3 text-2xl text-center ">TBA</h3>
                  <div class="mt-4">
                    <a href="{{'contact'| relative_url }}" class="mx-auto inline-flex items-center justify-center w-full h-12 px-8 text-white bg-hermes-gradient rounded-2xl shadow-2xl"> Contact Us </a>
                  </div> 
            </div> 
          </div>
      </div>
  </div>
</section>


<script>
  $(document).ready(function () {
      reloadChainValues();
  });

  async function reloadChainValues() {
    const defaultTokens     = "1.2M",
          defaultCommission = "5%",
          defaultDelegators = "3700";

    const short = await getValidatorInfo("terravaloper1g6pwngzfj73wnxm7y5gae0thylphugumc96gh3", true);

    const [ shortTokens, commissionRate ] = [ short.shortTokens?? defaultTokens, short.commissionRate?? defaultCommission ];

    document.getElementById("total-delegations").innerHTML = shortTokens;
    document.getElementById("commission-rate").innerHTML = commissionRate;

    const long = await getValidatorInfo("terravaloper1g6pwngzfj73wnxm7y5gae0thylphugumc96gh3", false);
    const numDelegators = long?.numDelegators?? defaultDelegators;
    document.getElementById("luna-staked").innerHTML += ` from ${numDelegators} delegators`;
  }
</script>

<!-- <script>
  function delegateSubmit() {
    console.log("hello");

    let errorField = [];
    let formValues = {
      amount: {
        value: document.getElementById("amount").value,
        label: document.getElementById("amount").id,
      },
    };

    //validate if some of required field is empty, if empty add to errorField array field name to show the error message
    for (const inputName in formValues) {
      if (
        formValues[inputName].value == "" ||
        formValues[inputName].value == null
      ) {
        errorField.push(formValues[inputName].label);
      }
    }

    //remove all errors
    document.querySelectorAll(".input-wrapper").forEach(function (element) {
      element.classList.remove("error");
    });

    //if array errorField is empty=no errors found, proceed, call integromat to send emails
    if (errorField.length > 0) {
      //if errors found, show errors in form inputs span
      errorField.forEach((element) =>
        document.getElementById(element).parentElement.classList.add("error")
      );
    }
  }
</script> -->
