<section class="relative w-full h-auto bg-no-repeat bg-cover bg-center bg-light-image-fdel dark:bg-dark-image-fdel" x-data="{ showMenu: false }"  data-tails-scripts="//unpkg.com/alpinejs">
    <div class="container flex items-center justify-center h-auto pt-8 pb-32 mx-auto ">
        <div class="z-10 flex flex-col justify-center max-w-3xl items-center px-8 xl:px-0">
            <img class="object-contain w-20 h-20 js-show-now" src="assets/images/icon.svg">
            <h1 class="mx-6 mt-6 text-lg text-center text-muddywaters-500 lg:text-4xl sm:text-center sm:mx-0 js-show-now">We believe that evolving
                communications in Web3 is key for accelerating adoption.</h1>


        </div>
    </div>
</section>