<section class="relative w-full h-auto">
    <img class="absolute top-0 right-0 dark:hidden" src="assets/images/bg/Top Banner.svg">
    <img class="absolute top-0 right-0 hidden dark:block" src="assets/images/bg/Top Banner DM.svg">
    {% include blocks/header.html %}  
    <div class="container flex items-center justify-center h-auto pt-18 pb-12 mx-auto ">
        <div class="z-10 flex flex-col justify-center max-w-3xl items-center px-8 xl:px-0">
         
            <h1 class="mx-6 mt-6 text-lg text-center text-muddywaters-500 dark:text-muddywaters-200 lg:text-6xl sm:text-center sm:mx-0 js-show-now">Support the next gen <br>
                of communication in Web3</h1>
            <h1 class="mx-6 mt-6 text-lg text-center text-gray-500 dark:text-gray-300 lg:text-xl sm:text-center sm:mx-0 js-show-now">We are building a Web3 native platform that allows communication

                between users, projects and businesses, privacy-centric.</h1>
            <div class="mt-10">
                    <svg version="1.1" class="w-6 h-auto fill-muddywaters-500 dark:fill-muddywaters-200" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 330 330" style="enable-background:new 0 0 330 330;" xml:space="preserve">
            <path id="XMLID_225_" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393
                c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393
                s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"/>
                </svg>
            </div>
        </div>
    </div>
</section>
